<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>Heinrich Bullinger</title>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/reset.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/home.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/account.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/login.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/register.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/admin.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/table.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/menu_items.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/menu_account.css') }}">

    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src = "{{ url_for('static', filename='main.js') }}"></script>
    {% endblock %}
</head>

<body>

    <div id="content">
        <div id="head">
            <div class="hlcell">
                <img class="img" src="{{url_for('static', filename='logo.png')}}"/>
            </div>

            <div class="hlsep"></div>

            <div class="hlcell">
                <div id="menu">
                    <nav class="links" style="--items: 5;">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                        <a href="#">Link 4</a>
                        <a href="#">Link 5</a>
                        <span class="line"></span>
                    </nav>
                </div>
            </div>

            <div id="account" class="hrcell">
                {% include 'account_menu_offline.html' %}
            </div>
        </div>
        <div id="main">
            {% block content %}{% endblock %}
        </div>
        <div id="foot">
            Institut für Schweizerische Reformationsgeschichte,
            Institut für Computerlinguistik,
            Universität Zürich,
            2020
        </div>
    </div>


</body>



</html>
