.main_box {
    margin: 10px;
    background: white;
    /*border-left: 3px solid Silver;
    border-right: 3px solid Silver;*/
}

.h2_section {

}

.parallel {
    float: left;
    width: 50%;
}

.note {
    margin: 0px;
    padding: 0px;
    width: 50%;
    height: 30px;
}

.error_msg {
    color: blue;
    height: 15px;
    line-height: 15px;
    font-size: 12pt;
    font-style: italic;
    font-weight: 400;
    text-align: center;
}