.main_box {
    margin: 0px 20% 0px 20%;
    background: white;
    border-left: 3px solid Silver;
    border-right: 3px solid Silver;
}

.h2_section {

}

.parallel {
    float: left;
    width: 50%;
}

