/* Hidden Variables */
.hidden { height: 0px; }

/* Status */
#status_info { float: right; }
.status_open { color: red; }
.status_invalid { color: orange; }
.status_unclear {color: yellow; }
.status_closed {color: green; }


.status_options {
    height: 100%;
    text-align: center;
    color: white;
    background-color: #123;
}
.status_option {
    height: 100%;
    width: 100px;
}

/* Image */
#card_image {
	height: 50px;  /* irrelevant: default value forms.py */
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	cursor: move;
}

#card_drag {
	left: 0;
	pointer-events: none;
	position: relative;
	top: 0;
	width: 100%;
	-moz-user-select: none;
	z-index: 9;
}

/* Options */
.actions {
    width: 100%;
    background-color: #123;
}

#center_wrapper {
    text-align: center;
    background-color: #123;
}
.center_div {
    display: inline-block;
    background-color: #123;
}

.buttonX {
    float: left;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button_frills {
    background-color: #123;
    color: white !important;
    border: 1px solid white;
    border-radius: 5px;
}

.buttonX:hover {
  background-color: black;
}

.form_table {
    width: 100%;
}

#is_movable {
    cursor: ns-resize;
}

#card_options {
    text-align: center;
    height: 25px;
    background-color: #123;
    cursor: ns-resize;
}

#card_options2 {
    cursor: ns-resize;
}

.img_icon {
    display: inline-block;
    height: 25px;
    width: 25px;
    line-height: 25px;

    z-index: 11;
    opacity: 1;
    filter: alpha(opacity=100); /* for IE8 and earlier */

    cursor: pointer;
}

#zoom_out, #zoom_in, #fit_height, #fit_width, #move_left, #move_right, #move_up, #move_down,
#move_leftmost, #move_rightmost, #move_upmost, #move_downmost {
    height: 100%;
    width: 100%;
}

/* Form */
#card_form {
    width: 100%;
    height: 300px;
}

.form {
    margin: 0px 200px;
    background-color: #123;
}

.card_col1 {
    float:left;
    width: 31%;
}

.card_col2 {
    float:left;
    width: 35%;
}

.card_col3 {
    float:left;
    width: 34%;
}

.card_col4 {
    float: left;
    width: 69%;
}

.attr_top {
    width: calc(100%-6px);
    height: 19px;
    line-height: 19px;
    padding: 3px;
    font-size: 12pt;
    font-weight: 500;
    color: white;
    background-color: black;
}

.card_row {
    width: 100%;
    height: 25px;
}
.card_row_empty {
    width: 100%;
    height: 25px;
    background-color: Lavender;
}

.card_input {
    float: left;
    margin: 0;
    padding: 0;
    height: 25px;
    line-height: 25px;
    z-index: 1000;
}

.is_default {
    color: Silver;
}

.is_not_default {
    color: Black;
}

/* see [form_card.js] */
.card_input_content {
    float: left;
    margin: 0;
    padding: 0;
    height: 25px;
    line-height: 25px;
    font-size: 12pt;
    font-weight: 200;
    color: black;
}

.input_year { width: 30%; }
.input_month { width: 50%; }
.input_day { width: 20%; }
.input_std { width: 100%; }
.input_half { width: 50%; }

/* Text Areas */
#card__language, #card__literature, #card__printed, #card__remark {
    resize: none;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 12pt;
    font-weight: lighter;
}

.h_separator {
    width: 100%;
    height: 3px;
    background-color: #123;
}

.v_separator {
    float: left;
    height: 100;
    width: 3px;
    background-color: #123;
}

/* PM Button */
.pm_icon {
    color: Gray;
    cursor: pointer;
}

.space {
    width: 100%;
    height: 300px;
}

/* Comments */
.comment_box {
    margin: 10px 200px;
}
.comments {
    width: 100%;
}
.note {
    width: 100%;
    font-size: 12pt;
}
.comment_user {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}
.comment_date {
    text-align: center;
    font-style: italic;
    text-align: center;
    font-size: 10px;
}
.comment_time {
    text-align: center;
    font-style: italic;
    text-align: center;
    font-size: 10px;
}
.comment_text {
    padding: 0px 15px;
    width: 100%;
}
.comment_break {
    border-bottom: 1px solid black;
}
