#login_form, #register_form {
    margin: 0px;
    padding: 15px 15px;
}

.prompt {
    margin: 12px 0px 2px 0px;
    width: 100%;
    height: 20px;
    line-height: 20px;
    padding: 0px; 0px;
    font-size: 13pt;
    font-weight: 5;
    /*border-bottom: 1px solid #123;*/
}

.prompt_input, input[type=text], input[type=password] {
    margin: 0px 0px;
    width: 100%;
    height: 20px;
    line-height: 20px;
    padding: 0px; 0px;
    font-size: 13pt;
    font-weight: 5;
    /*border-bottom: 1px solid #123;*/
}

.error_notification {
    color: blue;
    font-size: 10pt;
    height: 12px;
    line-height: 12px;
    text-align: left;
}
