#login_form, #register_form {
    margin: 0px;
    padding: 15px 15px;
}

.prompt {
    margin: 12px 0px 2px 0px;
    width: 100%;
    height: 20px;
    line-height: 20px;
    padding: 0px; 0px;
    font-size: 13pt;
    font-weight: 5;
    /*border-bottom: 1px solid #123;*/
}

.prompt_input, input[type=text], input[type=password] {
    margin: 0px 0px;
    padding: 0px; 0px;
    height: 20px;
    width: 100%;
    line-height: 20px;
    font-size: 13pt;
    font-weight: 5;
    /*border-bottom: 1px solid #123;*/
}

.error_notification {
    color: blue;
    font-size: 10pt;
    height: 12px;
    line-height: 12px;
    text-align: left;
}

.person_name_input, .person_forename_input {
    margin: 0px 0px;
    padding: 0px; 0px;
    height: 20px;
    width: 300px;
}

.p_container {
  overflow: hidden;
}

.p_inner {
  overflow: hidden;
}

.p_child {
    margin: 0px 3px;
    float: left;
    width: 300px;
    height: 2em;
    line-height: 2em;
}

.name_selector {
    cursor: pointer;
}

#add_coord_ort, #add_coord_1, #add_coord_2 {
    margin: 0px;
    padding: 0px;
}