
a {

}

a:link {

}

/* visited link */
a:visited {

}

/* mouse over link */
a:hover {

}

/* selected link */
a:active {
  font-weight: bold;
}

.text_link {
    color: blue;
    font-weight: bold;
}

.header_link {
    color: limegreen;
    /*font-weight: bold;*/
}