
a {

}

a:link {

}

/* visited link */
a:visited {

}

/* mouse over link */
a:hover {

}

/* selected link */
a:active {
  font-weight: bold;
}

.text_link {
    color: blue;
    font-weight: bold;
}

.header_link {
    color: limegreen;
    /*font-weight: bold;*/
}

.faq_toc, .stats_toc {
    cursor pointer;
    color: blue;
    font-weight: bold;
}

.faq_toc:hover, .stats_toc:hover {
    background-color: Silver;
}
