@import url('https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css');

html, body {
    font-size: 1em;
    background: WhiteSmoke;
    font-family: 'Noto Serif', serif;
}

body {
    min-height: 100%;
    position: relative;
    box-sizing: border-box;
}

#head {
    height: 60px;
    color: white;
    background: #123;
    border-bottom: 1px solid white;
}

#main {
    min-width: 21cm;
}

#foot {
    height: 2em;
    line-height: 2em;
    font-size: 0.7em;
    text-align: center;
    color: white;
    background: #123;
    position: absolute;
    bottom:0;
    width:100%;
}

#status_info { float: right; }

/* key words */

.kw {
    font-weight: bold;
}

.kw_warning {
    color: red;
    font-weight: bold;
}

.kw_important {
    color: blue;
    font-weight: bold;
}

.kw_highlight {
    color: yellow;
}

.kw_italic {
    font-style: italic;
}