@import url('https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css');

html, body {
    font-size: 1em;
    background: WhiteSmoke;
    font-family: 'Noto Serif', serif;
}

body {
    min-height: 100%;
    position: relative;
    box-sizing: border-box;
}

#main {
    min-width: 21cm;
}

#foot {
    height: 2em;
    line-height: 2em;
    font-size: 0.8em;
    text-align: center;
    color: white;
    background: #123;
    position: absolute;
    bottom:0;
    width:100%;
}

#status_info { float: right; }

.title_navigation {
    float: right;
    font-size: 1em;
}

/* key words */

.kw {
    font-weight: bold;
}

.kw_warning {
    color: red;
    font-weight: bold;
}

.kw_important {
    color: blue;
    font-weight: bold;
}

.kw_highlight {
    color: yellow;
}

.kw_italic {
    font-style: italic;
}

.navigate_l, .navigate_t, .navigate_b, .navigate_r {
    float: left;
    color: gray;
}