@import url('https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css');


html, body {
    font-size: 12pt;
    background: WhiteSmoke;
    font-family: 'Noto Serif', serif;
}

body {
    min-height:100vh;
    position:relative;
    padding-bottom: 15px;
    box-sizing:border-box;
}


#head {
    height: 60px;
    color: white;
    background: #123;
    border-bottom: 1px solid white;
}

#main {
    min-width: 21cm;
}

#foot {
    height: 23px;
    line-height: 23px;
    font-size: 8pt;
    text-align: center;
    color: white;
    background: #123;
    position:absolute;
    bottom:0;
    width:100%;
}

/* HEADER, MENU */

.hlcell {
    float: left;
    height: 50px;
    line-height: 50px;
    padding: 5px 10px;
    cursor: pointer;
}

.hlcell_clicked {
    float: left;
    height: 50px;
    line-height: 50px;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: underline;
    background-color: red;
}

.hlcell:hover {
    background-color: black;
    text-decoration: underline;
}

.hrcell {
    float: right;
    height: 50px;
    line-height: 50px;
    padding: 5px 10px;
}

#uzh_logo {
    margin: 0px;
    padding: 5px 0px;
    height: 40px;
    width: 120px;
}

.hlsep {
    float: left;
    margin: 10px 0px;
    height: 40px;
    width: 1px;
    background: white;
}
