h1, h2, h3, h4, h5 {
    color: White;
    background-color: #123;
    font-variant: small-caps;
    box-shadow: 0px 5px 8px 0px rgba(60, 80, 180, 0.4);
}

h1 {
    padding: 1px 0.5em 1px 0px;
    height: 2em;
    line-height: 2em;
    font-size: 0.9em;
}

h2 {
    margin: 15px 0px;
    height: 1.6em;
    line-height: 1.6em;
    padding: 0px 13px;
    font-size: 1.4em;
}

h3 {
    margin: 10px 0px 20px 0px;
    height: 1.8em;
    line-height: 1.8em;
    padding: 0px 13px;
    font-size: 1.2em;
}

h4 {
    margin: 1.3em 0px 0px 0px;
    font-size: 1em;
    font-weight: bold;
    font-variant: normal;
    color: black;
    background-color: white;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.rule {
    height: 1px;
    width: 100%;
    margin: 5px 0px -2px 0px;
    background-color: #123;
}

ul, ol {
    list-style-type: circle;
    margin-left: 20px;
    font-size: 1em;
}

ul li {
    line-height: 1.3em;
    font-size: 1em;
}

.items {
    line-height: 0.9em;
    font-size: 0.9em;
}


/* TEXT */

p {
    padding: 4px 0px 4px 0px;
    line-height: 1.3em;
    font-size: 1em;
}

span {
    font-size: 1em;
}

.clearing { clear: both; }

sup {
    font-size: xx-small;
    vertical-align:super;
}