
/* BASE STRUCTURE */

html, body {
    height: 100%;
    font-size: 12pt;
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(to bottom,#f9fbf7, #C9D8FF); /*
    background-image: url('../bullinger.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%; */
}

#content {
    position: relative;
    min-height: 100%;
}

#head {
    height: 40px;
    padding: 10px;
    color: white;
    background: #123;
}

#main {
    padding-bottom: 25px;
    /*margin: 0px 16%;
    width: 68%;
    min-width: 21cm;
    min-height: 100%;
    border: 1px solid DodgerBlue; */
    background-color: red;
}

#foot {
    position: absolute;
    bottom:0;
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 10pt;
    text-align: center;
    color: white;
    background: #123;
}

/* HEADER */

.hlcell {
    float: left;
    height: 40px;
    line-height: 40px;
}

.hrcell {
    float: right;
    height: 40px;
    line-height: 40px;
}

.img {
    height: 40px;
    width: 120px;
}

.hlsep {
    float: left;
    margin: 0px 15px;
    height: 100%;
    width: 1px;
    background-color: white;
}

#menu {
    float: left;
    height: 40px;
    line-height: 40px;
    background-color: red;
}

/* TITLES */

h1 {
    position: static;
    left: 0px;
    right: 0px;
    height: 50px;
    line-height: 50px;
    padding: 5px 15px;
    background-color: LightSkyBlue;
    font-weight: bold;
    font-size: 1.2em;

    background: linear-gradient(to right, Dodgerblue, LightSkyBlue);
    box-shadow: 0px 4px 6px 0px rgba(0,100,0,0.4);
}

h2 {
    position: static;
    left: 0px;
    right: 0px;
    height: 30px;
    line-height: 30px;
    padding: 5px 15px;
    background-color: LightSkyBlue;
    font-weight: bold;
    font-size: 1em;

    background: linear-gradient(to right, Dodgerblue, LightSkyBlue);
    box-shadow: 0px 4px 6px 0px rgba(0,100,0,0.4);
}

/* TEXT */

p {
    margin: 10px 6px;
}



/*
#head {
    position: fixed;
    width: 100%;
    height: 60px;
    margin: 0px;
    color: white;
    background-color: MidnightBlue;
    z-index: 100;
}

#logo {
    margin: 5px;
    height: 50px;
    line-height: 60px;
}

.menu {
    float: right;
    height: 60px;
    line-height: 60px;
    padding: 0px 20px;
}

.menu:hover {
    color: LightSteelBlue;
    background-color: DarkBlue;
}

.login_button {
    height: 100%
    line-height: 100%;
    background-color: MidnightBlue;
}


#main {
    position: absolute;
    top: 0px;
    height: 100%;
    /*bottom: 38px;

    width: 68%;
    min-width: 21cm;
    left: 16%;
    right: 16%;

    border: 1px solid DodgerBlue;
    background-color: WhiteSmoke;
}

#title_dummy {
    position: static;
    height: 60px;
    width: 100%;
}

h1 {
    position: static;
    left: 0px;
    right: 0px;
    height: 60px;
    line-height: 60px;
    padding: 3px 10px;
    background-color: LightSkyBlue;
    font-weight: bold;
    font-size: 1.4em;
}

h2 {
    position: static;
    left: 0px;
    right: 0px;
    height: 30px;
    line-height: 30px;
    padding: 3px 10px;
    background-color: LightSkyBlue;
    font-weight: bold;
    font-size: 1.2em;
}

#foot {
    position: absolute;
    width: 100%;
    height: 38px;
    bottom: 0px;
    margin: 0px;
    padding: 0px;

    color: white;
    background-color: MidnightBlue;
}

p {
    margin: 10px 6px;
}

input {
    width: 100%;
}

.button {
  position: relative;
  background-color: MidnightBlue;
  border: none;
  font-size: 1em;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
*/