
{% extends "base.html" %}

{% block content %}

<h1>Anmelden</h1>

<div class="main_box">

    <h2>Anmeldung</h2>
    <div class="h2_section">

        <p> Haben Sie sich schon als Mitarbeiter registriert?
            &#8594; <a href="{{url_for('register')}}">Registrierung</a>
        </p>

        <p> Durch Ihre Registrierung erhalten Sie schreibenden Zugriff auf die Datenbank. </p>

        <div id="login_form">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}

                <!-- Username -->
                <div class="prompt">{{ form.username.label }}</div>
                <div class="prompt_input">{{ form.username(size=32, placeholder="Benutzername") }}</div>
                <div class="error_msg">
                    {% for error in form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <!-- Password -->
                <div class="prompt">{{ form.password.label }}</div>
                <div class="prompt_input">{{ form.password(size=32, placeholder="Passwort") }}</div>

                <!-- Submission -->
                <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                <p>{{ form.submit() }}</p>

                <!-- Messages -->
                <div class="error_msg">
                    {% for error in form.password.errors %}
                        <span class="error">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </form>
        </div>

    </div>
    <div class="h2_separator"></div>

</div>

{% endblock %}
