<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="UTF-8">

        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Bullinger-KoKoS</title>
        {% endif %}

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/std.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/boxes.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/links.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/sort-table.js') }}"></script>
        <script src="{{ url_for('static', filename='js/sort-table.min.js') }}"></script>

        <link href="https://fonts.googleapis.com/css?family=Noto+Serif&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <div class="bu-header">
            <div class="bu-header-logo">
                <a href="/">
                    <img src="{{url_for('static', filename='images/logo.svg')}}" width="266" />
                </a>
            </div>
            <ul class="bu-header-menu">
                <li><a {%- if request.path=="/" %} class="active"{% endif %} href="/">Allgemeines</a></li>
                <li><a {%- if request.path.startswith("/overview") or request.path.startswith("/assignment") %} class="active"{% endif %} href="/overview">Jahre</a></li>
                <li><a {%- if request.path=="/persons" %} class="active"{% endif %} href="/persons">Personen</a></li>
                <li><a {%- if request.path=="/stats" %} class="active"{% endif %} href="/stats">Statistiken</a></li>
                <li><a {%- if request.path=="/faq" %} class="active"{% endif %} href="/faq">FAQ</a></li>
                <li><a href="/quick_start">Los!</a></li>
            </ul>
            <div class="bu-header-account">
                <div class="bu-header-account-initials">
                    <a title="{{current_user.username}}" href=#>{{current_user.username[0].upper()}}</a>
                    <div class="bu-header-dropdown">
                        {% if current_user.is_authenticated %}
                            <a href="/logout">Abmelden</a>
                        {% else %}
                            <a href="/login">Anmelden</a>
                            <a href="/register">Registrieren</a>
                        {% endif %}
                        {% if current_user.username == 'Admin' %}
                            <a href="/admin">Admin</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div id="main">
            {% block content %}
                <!-- Actual Content -->
            {% endblock %}

            <!-- Flash messages -->
            <div class="error_msg">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </div>
        </div>
        <div id="foot">
            Institut für Schweizerische Reformationsgeschichte,
            Institut für Computerlinguistik,
            Universität Zürich,
            2020
        </div>
    </body>
</html>
