<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="UTF-8">

        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Bullinger-KoKoS</title>
        {% endif %}

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/std.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/boxes.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/links.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/card.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu_account.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src = "{{ url_for('static', filename='js/account.js') }}"></script>
        <script type="text/javascript" src = "{{ url_for('static', filename='js/load.js') }}"></script>
        <script type="text/javascript" src = "{{ url_for('static', filename='js/image.js') }}"></script>
        <script type="text/javascript" src = "{{ url_for('static', filename='js/form_card.js') }}"></script>
        <script type="text/javascript" src = "{{ url_for('static', filename='js/sort-table.js') }}"></script>
        <script type="text/javascript" src = "{{ url_for('static', filename='js/sort-table.min.js') }}"></script>

        <!-- Import Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Noto+Serif&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {#<div id="head">
            <!-- Logo -->
            <div class="hlcell">
                <a href="https://www.uzh.ch/de.html">
                    <img id="uzh_logo" src="{{url_for('static', filename='images/logo.png')}}"/>
                </a>
            </div>
            <!-- Menu Items -->
            <div class="hlsep"></div>
            <div id="menu_home" class="hlcell">Allgemeines</div>
            <div id="menu_cards" class="hlcell">Übersicht</div>
            <div id="menu_stats" class="hlcell">Statistiken</div>
            <div id="menu_faq" class="hlcell">FAQ</div>
            <div id="menu_gateway" class="hlcell">Los!</div>
            <!-- Account -->
            <div id="account" class="hrcell">
            {% if current_user.is_authenticated %}
                {% include 'account_menu_online.html' %}
            {% else %}
                {% include 'account_menu_offline.html' %}
            {% endif %}
            </div>
        </div>#}

        <div class="bu-header">
            <div class="bu-header-logo">
                <a href="/">
                    <img src="{{url_for('static', filename='images/logo.svg')}}" width="266px" />
                </a>
            </div>
            <ul class="bu-header-menu">
                <li><a href="/">Allgemeines</a></li>
                <li><a href="/overview">Übersicht</a></li>
                <li><a href="/stats">Statistiken</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/quick_start">Los!</a></li>
            </ul>
            <div class="bu-header-account">
                <div class="bu-header-account-initials"><a href=#>RM</a></div>
            </div>
        </div>

        <div id="main">
            {% block content %}
                <!-- Actual Content -->
            {% endblock %}
            <!-- Flash messages -->
            <div class="error_msg">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </div>
        </div>
        <div id="foot">
            Institut für Schweizerische Reformationsgeschichte,
            Institut für Computerlinguistik,
            Universität Zürich,
            2020
        </div>
    </body>
</html>
