{% extends "base.html" %}

{% block content %}

<h1>FAQ
    {% include "user_status.html" %}
</h1>

<div class="main_box">

    <h2>Über die Attribute einer Karteikarte...</h2>

    <h3>&#8594; Was soll ich machen, wenn mehrere Absender oder mehrere Empfänger auf der Karteikarte angegeben sind?</h3>
    <div class="h3_section">
        <p> <span style="color:red"> TODO. </span> Vorschlag (mappings):
        <ul>
            <li>Allg.: ['NN1 && NN2'], ['VN1 && VN2'], ['Ort1 && Ort2']
                &#8594; ('NN1', 'VN1', 'Ort1'), ('NN2', 'VN2', 'Ort2')</li>
            <li>Spezialfall: (['NN'], ['VN1'; 'VN2'; 'VN3'], ['ORT'])
                &#8594; ('NN', 'VN1', 'ORT'), ('NN', 'VN1', 'ORT')</li>
        </ul>
        Erlaubte Trennzeichen: ';', '/', ',', '&', '&&', '_', '|'
        </p>
    </div>

    <h3>Was bedeutet “Verifiziert?” bei der Absender- bzw. Empfänger-Angabe?</h3>
    <div class="h3_section">
        <p>Wir markieren einen Korrespondenten als "verifiziert", wenn kein Grund zur Annahme besteht,
            dass dessen Anschrift evtl. nicht ganz korrekt ist. Eine Adresse ist etwa dann nicht über jeden
            Zweifel erhaben, wenn Angaben fehlen, in Klammern stehen, oder diese sonst mit einem entsprechenden
            Hinweis gekennzeichnet sind.
        </p>
        <p>Verifizierte Adressen stehen zudem umgehend systemweit als Autovervollständigungseintrag zu Verfügung.</p>
    </div>

    <h3>Was bedeutet “Jahr B” bei Datum?</h3>
    <div class="h3_section">
        <p>Fehlt in einem Datum eine Angabe, definiert dieses ein Intervall und kann daher in der Form
            "frühstens/spätestens am" (&#8594; Datum [A,B]) festgehalten werden - was jedoch nicht zu empfehlen ist,
            zumal ein Null-Wert das Intervall bereits impliziert.</p>

        <p>Auch undatierte Briefe können implizit Informationen über den Zeitraum beinhalten, in dem diese verfasst
            wurden. Etwa dann, wenn sie auf bekannte Ereignisse Bezug nehmen, wie andere, datierte Korrespondenzen
            oder historische Begebenheiten.</p>

        <p>Liegen also zwei Eckdaten vor, die mehr Information beinhalten als ein Null-Wert, erfassen wir diese.
            Im Falle einfacher Eckdaten (entweder "frühstens am", oder "spätestens am", aber nicht beides), halten wir
            dies als Bemerkung zum Datum fest.
        </p>
    </div>

    <h3>Was bedeutet “s.d.” bei Monat B?</h3>
    <div class="h3_section">
        <p>"sine die", lat. für "ohne Datum"</p>
        <p>Weitere lateinische Abkürzungen sind "sine nomine" (s.d.) oder "sine loco" (s.l.)</p>
        <p>Diese "Null-Werte" werden von unserem System stets ignoriert und finden keinen Einzug in die Datenbank.</p>
    </div>

    <h3>Was soll ich machen, wenn beim Datum die Jahreszahl in Klammern steht?</h3>
    <div class="h3_section">
        <p>siehe Jahr B</p>
    </div>

    <h3>Wofür steht “Zürich StA”?</h3>
    <div class="h3_section">
        <p>"Zürich Staatsarchiv"</p>
    </div>

    <h3>Wie sieht eine typische Signatur beim Staatsarchiv (StA) Zürich aus? Wie soll ich die StA-Signatur eingeben?</h3>
    <div class="h3_section">
        <p>Beispiel: "EII 345,678f"</p>
        <p>A I 123, 456 ff ???</p>
    </div>

    <h3>Wofür steht “Zürich ZB”?</h3>
    <div class="h3_section">
        <p>"Zentral Bibliothek"</p>
    </div>

    <h3>Wie sieht eine typische Signatur bei der Zentralbibliothek (ZB) Zürich aus? Wie soll ich die ZB-Signatur eingeben?</h3>
    <div class="h3_section">
        <p>Beispiel: "Ms S 65,38", "F 182,93", ...</p>
        <p>A I 123, 456 ff ???</p>
    </div>

    <h3>Was bedeutet “Autograph”?</h3>
    <div class="h3_section">
        <p>Beim Autograph handelt es sich um das handschriftliche Original. Oft lagert dieses im ZStA oder in der ZZB.</p>
    </div>

    <h3>Was bedeutet “Kopie”?</h3>
    <div class="h3_section">
        <p>Bezieht sich auf das Autograph.</p>
    </div>

    <h3>Warum ist das Feld “Sprache” in der Karteikarte leer?</h3>
    <div class="h3_section">
        <p>... (Faulheit? ;-)</p>
    </div>

    <h3>Woher kommt der Eintrag zu “Sprache” in der Datenbank?</h3>
    <div class="h3_section">
        <p>Die Sprache Bezieht sich auf den ersten Satz eines Briefes (bzw. die "Bemerkung" auf einer Karteikarte)</p>
        <p>Aber: mehrsprachige Briefe!</p>
    </div>

    <h3>Warum sind die Felder “Photokopie” und “Abschrift” ausgebaut?</h3>
    <div class="h3_section">
        <p>Diese existieren nicht mehr.</p>
    </div>

    <h3>Was bedeutet “Erster Satz” in der Datenbank?</h3>
    <div class="h3_section">
        <p>siehe "Eintrag zu Sprache"</p>
    </div>

    <h3>Wann soll ich “Anmerkungen / Notiz zu dieser Karteikarte” eintragen?</h3>
    <div class="h3_section">
        <p>Falls das Erfassen der Daten einer Karteikarte nicht oder nur schwer abgeschlossen werden kann (bswp. wenn
            eine Handschrift nur schwer entzifferbar ist), kann dieses Feld benutzt werden, um anderen Projektitarbeitern
            Hinweise zu hinterlassen.
        </p>
        <p>Auch für ungültig erklärte Karteikarten (also typischerweise Karteikarten, die eingentlich gar keine
            Karteikarten sind), sollten einen entsprechenden Hinweis erhalten.</p>
    </div>

    <h3>Was bedeutet “Status Offen / Unklar / Ungültig / Abgeschlossen”?</h3>
    <div class="h3_section">
        <ul>
            <li>offen = un- oder teilweise bearbeitet</li>
            <li>unklar = Schwirigkeiten</li>
            <li>ungültig = keine Karteikarten, sondern irgend ein anderes Dokument</li>
            <li>abgeschlossen = erfolgreich digitalisiert</li>
        </ul>
    </div>

</div>

{% endblock %}
