{% extends "base.html" %}

{% block content %}

<h1>> FAQ - Fragen & Antworten
    {% include "user_status.html" %}
</h1>
<div class="main_box">
    <div class="h2_box">
        <h2>Karteikarten-Attribute {% include "title_navigation_tr.html" %}</h2>
        <div class="h2_section">
            <ul>
                <li id="href_faq_adress" class="faq_toc">Absender/Empfänger</li>
                <li id="href_faq_date" class="faq_toc">Datum</li>
                <li id="href_faq_copy" class="faq_toc">Autograph/Kopie</li>
                <li id="href_faq_lang" class="faq_toc">Sprache und erster Satz</li>
                <li id="href_faq_state" class="faq_toc">Status</li>
                <li id="href_faq_var" class="faq_toc">Allgemeines</li>
            </ul>
            <div class="h3_separator"></div>
            <div class="h3_box">
                <h3 id="faq_adress">Absender/Empfänger {% include "title_navigation.html" %}</h3>
                <div class="h3_section">
                    <div class="h4_box">
                        <h4>Was soll ich machen, wenn mehrere Absender oder mehrere Empfänger
                            auf der Karteikarte angegeben sind?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Bitte tragen Sie den ersten Absender bzw. Empfänger in die entsprechenden Felder
                                für Nachname, Vorname und Ort ein. Schreiben Sie bitte zusätzlich in das Feld
                                "Bemerkung" den Kommentar: "Mehrere Absender" bzw. "Mehrere Empfänger".
                            </p>
                            <p>Setzen Sie den Status auf "Unklar".</p>
                        </div>
                    </div>
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Wie gebe ich einen Namen mit einem Namenszusatz ein (z.B. "Georg von Stetten")?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Geben Sie als Nachname "von Stetten" und als Vorname "Georg" ein.</p>
                        </div>
                    </div>
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Wie soll ich Abkürzungen wie d.J. (der Jüngere) d.Ä. (der Ältere) eintragen?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Geben Sie den Vornamen und als Ergänzung "der Jüngere" bzw. "der Ältere" ein.</p>
                        </div>
                    </div>
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Wie gebe ich einen Namen für eine Gruppe ein (z.B. "Pfarrherren von Schaffhausen")?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Geben Sie als Nachname "Pfarrherren" ein, lassen Sie das Feld "Vorname" leer. Und tragen Sie "Schaffhausen" als Ort ein.</p>
                        </div>
                    </div>
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Was bedeutet "Nicht verifiziert" bei der Absender- bzw. Empfänger-Angabe?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Markieren Sie einen Empfänger oder Absender als "Nicht verifiziert", wenn der Name oder der Ort auf der Karteikarte in runden oder eckigen Klammern steht oder mit einem Fragezeichen versehen ist.</p>
                            <p>Bitte geben Sie die Klammern oder Fragezeichen NICHT ein.</p>
                            <p>Alle anderen Adressen werden als verifizierte Adressen gespeichert und stehen umgehend systemweit zur automatischen Vervollständigung zu Verfügung.</p>
                        </div>
                    </div>
                    <!--
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Was mache ich, wenn die Karteikarten Schreibvarianten für Namen oder Orte enthalten
                            (z.B. "Ambrosius Blarer" vs. "Ambrosius Blaurer"; oder "Petrus Paulus Vergerius" vs.
                            "Pietro Paolo Vergerius")?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Bitte übertragen Sie die Schreibung von der Karteikarte in die Datenbank, ausser bei
                                offensichtlichen Schreibfehlern. Bitte vermerken Sie zusätzlich in den Bemerkungen zum
                                Namen oder im Feld unten "Anmerkungen zu dieser Karte", dass Sie eine Schreibvariante
                                bemerkt haben. Setzen Sie den Status auf "Unklar", damit wir im Nachgang Verweise
                                zwischen den Varianten einfügen können.
                            </p>
                        </div>
                    </div>
                    -->
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Was mache ich, wenn die Karteikarten Schreibvarianten für Namen enthalten
                            (z.B. "Ambrosius Blarer" vs. "Ambrosius Blaurer", oder "Petrus Paulus Vergerius"
                            vs. "Pietro Paolo Vergerius")? </h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>
                                Bitte übertragen Sie die Schreibung von der Karteikarte in die Datenbank, ausser bei
                                offensichtlichen Schreibfehlern. Bitte vermerken Sie im Feld zu Absender oder Empfänger:
                                "Alias" gefolgt von der Namensvariante. Setzen Sie den Status auf "Unklar", damit wir im
                                Nachgang Verweise zwischen den Varianten einfügen können.
                            </p>
                            <p>
                                Wenn Sie mögen, können Sie den Verweis auch gleich selbst vornehmen, indem Sie die
                                Namensvarianten
                                <a href="http://www.bullinger-digital.ch/Kartei/Personen/Alias"> hier </a>
                                eintragen (sofern nicht bereits vorhanden).
                                Damit gilt die Karte in Bezug auf die Namensvarianten als abgeschlossen.
                            </p>
                        </div>
                    </div>
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Was mache ich, wenn die Karteikarten Schreibvarianten für Orte enthalten (z.B. "Ribeauvillé = Rapportsweiler")?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>
                                Sofern es sich nicht um offensichtliche Schreibfehler handelt, übertragen Sie bitte die
                                Schreibung von der Karteikarte in die Datenbank. Weitere Ihnen bekannte oder auf der Karte
                                vermerkten Schreibvarianten tragen Sie bitte ins Bemerkungsfeld ein. Setzen Sie den Status
                                auf "Unklar", damit wir im Nachgang Verweise zwischen den Varianten einfügen können.
                            </p>
                        </div>
                    </div>
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Was mache ich, wenn die Karteikarten Schreibfehler (z.B. "Tubingen" statt "Tübingen")
                            oder Namens-Abkürzungen (z.B. "Ger." für "Gereon") enthalten?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Bitte tragen Sie die korrekte und vollständige Variante in die Datenbank ein. Wenn Sie
                                unsicher sind, fügen Sie eine Bemerkung hinzu und setzen den Status auf "Unklar".
                            </p>
                        </div>
                    </div>
                    <!--
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4> ... </h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            ...
                        </div>
                    </div>
                    -->
                </div>  <!-- h3_section -->
            </div>  <!-- h3_box -->
            <div class="h3_separator"></div>
            <div class="h3_box">
                <h3 id="faq_date">Datum {% include "title_navigation.html" %}</h3>
                <div class="h3_section">
                    <div class="h4_box">
                        <h4>Was bedeutet "Jahr B, Monat B, Tag B" bei <b>Datum</b>?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>
                                Sofern Anfangs- und Enddaten angegeben sind, tragen Sie das Anfangsdatum bitte unter
                                "Jahr, Monat, Tag" und das Enddatum unter "Jahr B, Monat B, Tag B" ein. Sind nur zum
                                Jahr zwei Daten angeben, tragen Sie die zweite Jahreszahl bei Jahr B ein und übernehmen
                                Datum und Monat vom Anfangsdatum.
                            </p>
                        </div>
                    </div>
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Was bedeutet "s.d." bei Monat B?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>"s.d." steht für "sine dato", das ist lateinisch für "ohne Datum".</p>
                            <p>
                                Dieser Eintrag wird automatisch generiert. Sofern auf der Karteikarte nur ein Datum
                                vermerkt ist, können Sie diesen Eintrag ignorieren. Sind Anfangs- und Enddatum angegeben,
                                ersetzen Sie den Eintrag bitte mit den entsprechenden Angaben zum Enddatum.
                            </p>
                        </div>
                    </div>
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Was bedeuten "s.d.", "s.n." "s.l." oder "s.a." auf den Karteikarten und wie muss ich diese
                            Einträge in die Datenbank übertragen?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>
                                Diese lateinischen Abkürzungen stehen für "sine datum" (ohne Datum) "s.n. = sine
                                nomine" (ohne Namen), "s.l. = sine loco" (ohne Ort) oder "s.a. = sine anno" (ohne Jahr).
                                Die Einträge auf der Karteikarte signalisieren, dass die Angaben nicht einfach vergessen
                                wurden, sondern im jeweiligen Brief tatsächlich fehlen. Damit diese Information auch in
                                der Datenbank ersichtlich ist, tragen Sie bitte die jeweilige Abkürzung ohne Klammern
                                ins entsprechende Bemerkungsfeld ein. Der fehlende Eintrag hat keinen Einfluss auf den
                                Status; d.h. sofern keine andern Unklarheiten bestehen, können Sie den Status auf
                                "Abgeschlossen" setzen.
                            </p>
                        </div>
                    </div>
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Was soll ich machen, wenn die Datumsangabe (teilweise) in Klammern steht oder mit einem Fragezeichen versehen ist?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>
                                Wenn die Jahreszahl auf der Karteikarte in Klammern steht, tragen Sie die Jahreszahl ohne
                                Klammern ins Feld "Jahr" ein und tragen Sie als Bemerkung zum Datum ein: "Jahr unsicher".
                                Steht das gesamte Datum in Klammern, oder ist es mit einem Fragezeichen versehen,
                                übertragen Sie alle Angaben ohne Klammern bzw. ohne Fragezeichen ins jeweilige Feld und
                                notieren als Bemerkung zum Datum "Datum unsicher". Auf den Status hat das KEINEN Einfluss.
                            </p>
                        </div>
                    </div>
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Was soll ich machen, wenn weitere Angaben zum Datum auf der Karteikarte vermerkt sind?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Tragen Sie diese bitte als Bemerkung zum Datum ein.</p>
                        </div>
                    </div>
                    <!--
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Wie soll ich eine Verweiskarte in die Datenbank eintragen?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p> Tragen Sie alle Informationen der Verweiskarte in die entsprechenden Datenbank-Felder ein.
                                Bei "Bemerkungen (Datum)" tragen Sie bitte zusätzlich "Verweiskarte" und den angegebenen Querverweis ein. Also zum Beispiel:
                                Verweiskarte. Siehe: 1567 Januar 02
                            </p>
                        </div>
                    </div>
                    -->
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Wie soll ich eine Verweiskarte in die Datenbank eintragen?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>
                                Setzen Sie bei Datum das Häkchen bei "Verweiskarte", dadurch erscheint eine zusätzliche
                                Zeile. In diese tragen Sie bitte das Datum ein, auf welches die Karte verweist (z.B. in
                                der Form "Siehe: 1567 Januar 02"). Tragen Sie die übrigen Informationen in die
                                entsprechenden Datenbank-Felder ein.
                            </p>
                        </div>
                    </div>
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Warum sind die Monate im Auswahlmenü "Datum" bei mir in Englisch (oder einer anderen Sprache als Deutsch)?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Die Sprache dieses Auswahlmenüs ergibt sich aus der Spracheinstellung Ihres Browsers. Stören Sie sich nicht daran. In unserer Datenbank werden die Monate sprach-unabhängig gespeichert.</p>
                        </div>
                    </div>
                    <!--
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4> ... </h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            ...
                        </div>
                    </div>
                    -->
                </div>  <!-- h3_section -->
            </div>  <!-- h3_box -->
            <div class="h3_separator"></div>
            <div class="h3_box">
                <h3 id="faq_copy">Autograph/Kopie {% include "title_navigation.html" %}</h3>
                <div class="h3_section">
                    <div class="h4_box">
                        <h4>Was bedeutet "Autograph"?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Beim Autograph handelt es sich um das handschriftliche Original des Briefes. Oft lagert
                                dieses Original im Staatsarchiv Zürich (StA) oder in der Zentralbibliothek Zürich (ZB).
                                Aber auch andere Standorte sind möglich.
                            </p>
                        </div>
                    </div>
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Was soll ich tun, wenn bei "Autograph" oder "Kopie" mehrere Standorte oder weitere Bemerkungen notiert sind?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>
                                Tragen Sie bitte die erste Signatur in die dafür vorgesehenen Felder und die übrigen
                                Angaben ins jeweilige Bemerkungsfeld ein.
                            </p>
                        </div>
                    </div>
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Was bedeutet "Kopie"?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>
                                Die Kopie ist eine Abschrift des Briefes. Zuweilen ist notiert, aus welchem Jahrhundert
                                die Kopie stammt oder dass es sich um eine Fotokopie handelt. Bitte tragen Sie solche
                                Bemerkungen ins dafür vorgesehene Bemerkungsfeld ein.
                            </p>
                        </div>
                    </div>
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Was bedeutet "Kopie B"?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>
                                Auf manchen Karteikarten sind mehrere Standorte von Kopien eingetragen. Bitte tragen Sie
                                den zweiten Standort unter Kopie B ein. Sollten auf der Karteikarte weitere Standorte
                                aufgeführt sein, schreiben Sie diese bitte ins Bemerkungsfeld zu "Kopie B". Auch
                                allfällige Bemerkungen zum zweiten Standort tragen Sie bitte in dieses Bemerkungsfeld ein.
                            </p>
                        </div>
                    </div>
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Was bedeuten die Anmerkungen "18. Jh.", "19. Jh." oder "Xeroxkopie" bei den Kopien?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>
                                Die Anmerkungen geben an, aus welcher Zeit die Kopie stammt bzw. um welche Art von Kopie
                                es sich handelt. Bitte übertragen Sie die Informationen ins Bemerkungsfeld, Abkürzungen
                                brauchen Sie nicht auszuschreiben.
                            </p>
                        </div>
                    </div>
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Was soll ich tun, wenn bei "Kopie" mehrere Standorte oder weitere Bemerkungen notiert sind?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>
                                Tragen Sie bitte die erste Signatur in die dafür vorgesehenen Felder und die Bemerkungen
                                zum ersten Standort ins jeweilige Bemerkungsfeld ein. Weitere Standorte tragen Sie bitte
                                unter "Kopie B" ein (vgl. Was bedeutet "Kopie B"?).
                            </p>
                        </div>
                    </div>
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Wofür steht "Zürich StA"?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p><a href="https://staatsarchiv.zh.ch">Staatsarchiv Zürich</a> (= das Archiv des Kantons Zürich)</p>
                            <p>Wenn es sich um den Standort "Zürich StA" handelt, geben Sie die Angabe bitte immer als "Zürich StA" ein (ohne Komma und ohne andere Zeichen).</p>
                        </div>
                    </div>
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Wofür steht "Zürich ZB"?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p><a href="https://www.zb.uzh.ch/">Zentralbibliothek Zürich</a> (= die Bibliothek von Stadt und Kanton Zürich)</p>
                        </div>
                    </div>
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Wofür steht "ZZB"?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>ZZB steht für Zentralbibliothek Zürich. Wenn es sich um den Standort "ZZB" handelt, geben Sie die Angabe bitte immer als "Zürich ZB" ein (ohne Komma und ohne andere Zeichen).</p>
                        </div>
                    </div>
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Wie sieht eine typische Signatur beim Staatsarchiv (StA) Zürich aus? Wie soll ich die StA-Signatur eingeben?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Beispiele:</p>
                            <ul>
                                <li>
                                    <span class="kw"> E II 345,678 f </span>
                                    &#8594; E+[Leerschlag]+II+[Leerschlag]+Zahlen mit Komma getrennt+[Leerschlag]+Buchstabe
                                </li>
                                <li>
                                    <span class="kw"> A I 123,456 ff </span>
                                    &#8594; A+[Leerschlag]+I+[Leerschlag]+Zahlen mit Komma getrennt+[Leerschlag]+Buchstabe
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Wie sieht eine typische Signatur bei der Zentralbibliothek (ZB) Zürich aus? Wie soll ich die ZB-Signatur eingeben?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Beispiele:</p>
                            <ul>
                                <li>
                                    <span class="kw"> Ms S 65,38 </span>
                                    &#8594; Ms+[Leerschlag]+S+[Leerschlag]+Zahlen mit Komma getrennt
                                </li>
                                <li>
                                    <span class="kw"> Ms F 182,93 </span>
                                    &#8594; Ms+[Leerschlag]+F+[Leerschlag]+Zahlen mit Komma getrennt
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Was soll ich tun, wenn die Signatur nicht der typischen Signatur des Standortes entspricht?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>
                                Übertragen Sie die Informationen aus der Karteikarte und schreiben Sie in das Bemerkungsfeld
                                "Standort/Signatur zweifelhaft". Setzen Sie den Status auf "unklar".
                            </p>
                        </div>
                    </div>
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Was soll ich mit Klammerbemerkungen machen, die auf alte Signaturen hinweisen?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>
                                Bitte schreiben Sie den Hinweis und die alte Signatur ins jeweilige Bemerkungsfeld.
                                Es kann nämlich vorkommen, dass auf Handschriftenkopien oder Mikrofilmen noch die alten
                                Signaturen vermerkt sind. Die Einträge in der Datenbank helfen in solchen Fällen bei
                                der eindeutigen Zuordnung.
                            </p>
                        </div>
                    </div>
                    <!--
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4> ... </h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            ...
                        </div>
                    </div>
                    -->
                </div>
            </div>
            <div class="h3_separator"></div>
            <div class="h3_box">
                <h3 id="faq_lang">Sprache / 1. Satz {% include "title_navigation.html" %}</h3>
                <div class="h3_section">
                    <div class="h4_box">
                        <h4>Warum ist das Feld "Sprache" in der Karteikarte leer?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Die Anleger der Karteikarten haben oft entschieden, dieses Feld frei zu lassen. In der Datenbank wollen wir jedoch eine Angabe zur Sprache des Briefes. Daher bestimmen wir die Sprache automatisch auf der Grundlage des ersten Satzes und tragen die entsprechende Sprache in die Datenbank ein.</p>
                            <p>Bitte kontrollieren Sie die Angabe und korrigieren Sie die Sprache, wenn sie nicht mit der Sprache des Anfangssatzes übereinstimmt. Ist auf der Karteikarte eine Sprache eingetragen, ist diese in die Datenbank zu übernehmen.</p>
                            <p>Wenn auf der Karteikarte mehrere Sprachen angegeben sind, dann tragen Sie alle dort vermerkten Sprachen in das Feld ein (mit Komma getrennt).</p>
                            <!--
                            <p>Bitte kontrollieren Sie die Angabe und korrigieren Sie die Sprache, wenn sie nicht mit der Sprache des Anfangssatzes übereinstimmt. Ist auf der Karteikarte eine Sprache eingetragen, ist auch diese in die Datenbank zu übernehmen.</p>
                            -->
                        </div>
                    </div>
                    <div class="h4_box">
                        <h4>Woher kommt der Eintrag zu "Sprache" in der Datenbank?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Wir bestimmen die Sprache des Briefes automatisch auf der Grundlage des ersten Satzes.
                                Der erste Satz eines Briefes steht auf der Karteikarte im Feld "Bemerkung".
                            </p>
                        </div>
                    </div>
                    <div class="h4_box">
                        <h4>Was soll ich tun, wenn auf der Karteikarten mehrere Sprachen angegeben sind oder wenn der
                            Eintrag auf der Karteikarte nicht mit der Sprache des ersten Satzes übereinstimmt?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Wenn auf der Karteikarte mehrere Sprachen angegeben sind, dann tragen Sie alle dort vermerkten Sprachen ins Datenbankfeld ein (mit Komma getrennt). Entspricht die angegebene Sprache nicht der Sprache des ersten Satzes, tragen Sie bitte beide Sprachen ins Datenbankfeld ein (mit Komma getrennt).</p>
                        </div>
                    </div>
                    <!--
                    <div class="h4_separator"></div>
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Woher kommt der Eintrag zu "Sprache" in der Datenbank?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Wir bestimmen die Sprache des Briefes automatisch auf der Grundlage des ersten Satzes. Der erste Satz eines Briefes steht auf der Karteikarte im Feld "Bemerkung".</p>
                            <p>Bitte kontrollieren Sie die Angabe und korrigieren Sie die Sprache, wenn sie nicht mit der Sprache des Anfangssatzes übereinstimmt. Ist auf der Karteikarte eine Sprache eingetragen, ist diese in die Datenbank zu übernehmen.</p>
                            <p>Wenn auf der Karteikarte mehrere Sprachen angegeben sind, dann tragen Sie alle dort vermerkten Sprachen in das Feld ein (mit Komma getrennt).</p>
                        </div>
                    </div>
                    -->
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Was bedeutet "Gedruckt" in der Datenbank?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Vom entsprechenden Brief ist bereits ein Abdruck publiziert, bitte tragen Sie die Literaturangabe in das Feld ein. Wenn Sie die Literaturangabe nicht entziffern können, tragen Sie eine entsprechende Bemerkung in das Feld "Anmerkungen / Notiz zu dieser Karteikarte" ein und setzen den Status "Unklar".</p>
                        </div>
                    </div>
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Was bedeutet "BW" im Feld "Gedruckt"?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p> "BW" steht für "Briefwechsel"; "Blarer BW III" steht also eigentlich für "Blarer Briefwechsel III".
                                In die Datenbank können Sie die Abkürzung von der Karteikarte übernehmen.
                            </p>
                        </div>
                    </div>
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Was bedeutet "Literatur" in der Datenbank?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Der entsprechende Brief ist in einer Publikation erwähnt, bitte tragen Sie die Literaturangabe in das Feld ein. Wenn Sie die Literaturangabe nicht entziffern können, tragen Sie eine entsprechende Bemerkung in das Feld "Anmerkungen / Notiz zu dieser Karteikarte" ein und setzen den Status "Unklar".</p>
                        </div>
                    </div>
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Was bedeuten hochgestellte Ziffern bei der Literaturangabe auf der Karteikarte?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>
                                Eine hochgestellte Ziffer unmittelbar nach der Jahreszahl gibt an, auf welche Auflage sich die Angabe bezieht.
                                Steht z.B. 1968<sup>2</sup>, bedeutet dies, dass sich die Literaturangabe auf die 2. Auflage bezieht.
                                Bitte übertragen Sie diese Information in folgender Form in die Datenbank: "1968, 2. Auflage".
                            </p>
                            <p>
                                Hochgestellte Ziffern nach Seitenzahlen beziehen sich auf die Nummer der Anmerkung.
                                Steht z.B. "S. 13<sup>2</sup>", tragen Sie bitte Folgendes in die Datenbank ein: "S. 13, Anmerkung 2".
                            </p>
                            <p>
                                Wenn Sie unsicher sind, was die hochgestellten Ziffern zu bedeuten haben, hinterlassen
                                Sie eine entsprechende Bemerkung und setzen Sie den Status auf "Unklar".
                            </p>
                        </div>
                    </div>
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Was bedeutet "Ü" bei der Literaturangabe auf der Karteikarte?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>
                                Ü steht als Abkürzung für "Übersetzung"; in der entsprechenden Literatur ist also eine
                                Übersetzung des Briefes abgedruckt. Zuweilen ist auch angegeben, in welcher Sprache die
                                Übersetzung vorliegt, z. B. "eÜ" für "Übersetzung auf Englisch". In die Datenbank
                                können Sie die Abkürzung von der Karteikarte übernehmen.
                            </p>
                        </div>
                    </div>
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Was bedeuten "zit.", "erw." oder "TD" bei der Literaturangabe auf der Karteikarte?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Die Abkürzungen stehen für "zitiert in", "erwähnt in" und "Teildruck". In die Datenbank können Sie die Abkürzung von der Karteikarte übernehmen.</p>
                        </div>
                    </div>
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Was bedeutet "Erster Satz" in der Datenbank?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Im Feld "Bemerkung" auf der Karteikarte steht meist der Anfang des Briefes (= der erste Satz).
                                Wir übernehmen diesen Briefanfang in die Datenbank, um später eine eindeutige Identifikation
                                des Briefes zu ermöglichen.</p>
                        </div>
                    </div>
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Was muss ich beim Feld "Erster Satz" beachten?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>
                                Bitte korrigieren Sie den automatisch erkannten Text des Briefanfangs (= erster Satz), bis
                                er mit der Karteikarte übereinstimmt. Übernehmen Sie die Schreibweisen aus der Karteikarte.
                                Häufig ist die Zeichensetzung auf der Karteikarte fehlerhaft. Korrigieren Sie die Satzzeichen.
                                Fügen Sie Leerschläge hinter Kommas ein.
                            </p>
                            <p>
                                Wenn es Ihnen nicht möglich ist, den ersten Satz zu entziffern, tragen Sie dies bitte
                                ebenfalls unter "Anmerkungen / Notiz zu dieser Karteikarte" ein und setzen den Status auf "Unklar".
                            </p>
                        </div>
                    </div>
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Muss ich den ersten Satz übersetzen?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>
                                Wenn es Ihnen möglich ist, den Satz vollständig auf Deutsch zu übersetzen, notieren Sie
                                Ihre Übersetzung bitte in eckigen Klammern [ ] im Anschluss an das Original. Ob Sie eine
                                Übersetzung angeben oder nicht, hat keinen Einfluss auf den Status.
                            </p>
                        </div>
                    </div>
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Was soll ich tun, wenn auf der Karteikarte im Feld "Bemerkungen" mehr als nur der erste Satz vermerkt ist?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>
                                Tragen Sie bitte den ersten Satz ins entsprechende Datenbankfeld und die übrigen Vermerke
                                ins Datenbankfeld "Anmerkungen / Notiz zu dieser Karteikarte" ein.
                            </p>
                        </div>
                    </div>
                    <!--
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4> ... </h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            ...
                        </div>
                    </div>
                    -->
                </div>
            </div>
            <div class="h3_separator"></div>
            <div class="h3_box">
                <h3 id="faq_state">Status {% include "title_navigation.html" %}</h3>
                <div class="h3_section">
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Was bedeutet "Status Offen / Unklar / Ungültig / Abgeschlossen"?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Der Status bezieht sich auf die Übereinstimmung des Datenbankeintrags mit der Karteikarte.</p>
                            <ul>
                                <li>Offen = Datenbankeintrag ist un- oder nur teilweise bearbeitet</li>
                                <li>Unklar = Schwierigkeiten bei der Übertragung der Information in die Datenbank. Bitte notieren Sie, die Art der Schwierigkeit in den entsprechenden Bemerkungs-Feldern. Das hilft den Expert*innen, die fraglichen Stellen schnell zu identifizieren und korrigieren.</li>
                                <li>Ungültig = Das Bild zeigt keine Karteikarte, sondern ein anderes Dokument</li>
                                <li>Abgeschlossen = Die Informationen sind erfolgreich und vollständig in der Datenbank eingetragen</li>
                            </ul>
                        </div>
                    </div>
                    <!--
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4> ... </h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            ...
                        </div>
                    </div>
                    -->
                </div>
            </div>
            <div class="h3_separator"></div>
            <div class="h3_box">
                <h3 id="faq_var">Allgemeines {% include "title_navigation_lt.html" %}</h3>
                <div class="h3_section">
                    <div class="h4_box">
                        <h4>Warum sind die Felder "Photokopie" und "Abschrift" grau?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Die Informationen zu "Photokopie" und "Abschrift" auf den Karteikarten sind nicht mehr aktuell und werden deshalb nicht in die Datenbank übertragen.</p>
                        </div>
                    </div>
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Was mache ich mit Karteikarten, bei denen auf die Rückseite verwiesen wird?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>
                                Wenn bei einer Karteikarten ersichtlich ist, dass es eine Rückseite gibt (z. B. weil "wenden",
                                "Rückseite beachten" oder "·/." steht), notieren Sie bitte ins Anmerkungsfeld zu dieser
                                Karteikarte, dass es eine Rückseite gibt und setzen Sie den Status auf "Unklar".
                            </p>
                        </div>
                    </div>
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Was mache ich mit Karten, die nur Fliesstext beinhalten?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>
                                Wenn Sie auf eine Karte stossen, die keine eigentliche Karteikarte ist, löschen Sie bitte
                                alle ungültigen Einträge aus den Datenbankfeldern. Notieren Sie im Anmerkungsfeld zur
                                Karteikarte "keine Karteikarte" (bzw. "Hinweiskarte" oder "Rückseite", sofern diese
                                Informationen ersichtlich sind). Setzen Sie den Status bitte auf "Ungültig". Im Anschluss an
                                die Korrekturkampagne werden wir die Informationen mit den entsprechenden Karteikarten zusammenführen.
                            </p>
                        </div>
                    </div>
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Wann soll ich etwas ins Feld "Anmerkungen / Notiz zu dieser Karteikarte" eintragen?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>
                                Dieses Feld erfüllt zwei unterschiedliche Funktionen. Zum einen entspricht es dem
                                Bemerkungsfeld auf der Karteikarte, sofern auf dieser mehr als nur der erste Satz eingetragen
                                ist. Zum anderen können Sie hier Bemerkungen zu Ihren Feststellungen und Korrekturen notieren.
                                Konkret bitten wir Sie, dann etwas in dieses Feld einzutragen, wenn:
                            </p>
                            <ul>
                                <li>
                                    auf der Karteikarte im Feld "Bemerkungen" nicht nur der erste Satz des Briefes steht,
                                    sondern zusätzliche Informationen. Bitte übertragen Sie diese zusätzlichen Informationen
                                    in dieses Feld.
                                </li>
                                <li>
                                    Sie die Korrektur einer Karteikarte nicht abschliessen können (bspw. weil eine
                                    Handschrift nur schwer zu entziffern ist).  Tragen Sie Ihre Beobachtungen in dieses
                                    Feld ein, um anderen Projektmitarbeitern Hinweise zu hinterlassen und setzen den
                                    Status auf "Unklar".
                                </li>
                                <li>
                                    die Karte keine eigentliche Karteikarte ist. Tragen Sie den Hinweis "keine Karteikarte"
                                    (bzw. "Hinweiskarte" oder "Rückseite", sofern diese Informationen ersichtlich sind)
                                    in dieses Feld ein und setzen Sie den Status auf "Ungültig".
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Was soll ich tun, wenn ein Eintrag auf der Karteikarte mit einem Fragezeichen vermerkt ist?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p> Ein Fragezeichen markiert Unsicherheit des Eintrags. Findet sich ein Fragezeichen
                                innerhalb des ersten Satzes, übernehmen Sie es bitte. Bei allen anderen Feldern lassen
                                Sie das Fragezeichen bitte weg und notieren stattdessen im zugehörigen Bemerkungsfeld,
                                dass der Eintrag unsicher ist. Diese Unsicherheit hat keinen Einfluss auf den Status.
                            </p>
                        </div>
                    </div>
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4>Warum stehen in der Datenbank manchmal bereits mehr Informationen als auf der Karteikarte?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Da ist bei der automatischen Übertragung ein Fehler passiert. Grundsätzlich sollte in der Datenbank nur das stehen, was auf einer Karteikarte wirklich enthalten ist. Es gibt zwei Ausnahmen:</p>
                            <ul>
                                <li>Der Eintrag zur Sprache wird automatisch aus dem ersten Satz abgeleitet. Bitte stellen Sie sicher, dass der Eintrag auch tatsächlich mit der Sprache des ersten Satzes übereinstimmt. Ist bereits auf der Karteikarte eine Sprache vermerkt, tragen Sie bitte diese in die Datenbank ein. Ist auf der Karteikarte bereits eine Sprache vermerkt und stimmt diese nicht mit der Sprache des Anfangssatzes überein, tragen Sie bitte beide Sprachen in die Datenbank ein (mit Komma getrennt).</li>
                                <li>Der Eintrag "s.d." zum Monat B. Sofern auf der Karteikarte nur ein Datum angegeben ist, können Sie diesen Eintrag ignorieren.</li>
                            </ul>
                        </div>
                    </div>
                    <!--
                    <div class="h4_separator"></div>
                    <div class="h4_box">
                        <h4> ... </h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            ...
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
