{% extends "base.html" %}

{% block content %}

<h1>
    >
    FAQ - Fragen & Antworten
    {% include "user_status.html" %}
</h1>
<div class="main_box">
    <div class="h2_box">
        <h2>Karteikarten-Attribute</h2>
        <div class="h2_section">
            <div class="h3_box">
                <h3>Absender/Empfänger</h3>
                <div class="h3_section">
                    <div class="h4_box">
                        <h4>Was soll ich machen, wenn mehrere Absender oder mehrere Empfänger
                            auf der Karteikarte angegeben sind?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Bitte tragen Sie den ersten Absender bzw. Empfänger in die entsprechenden Felder
                                für Nachname, Vorname und Ort ein. Schreiben Sie bitte zusätzlich in das Feld
                                "Bemerkung" den Kommentar: "Mehrere Absender" bzw. "Mehrere Empfänger".
                            </p>
                            <p>Setzen Sie den Status auf "Unklar".</p>
                        </div>
                    </div>
                    <div class="h4_box">
                        <h4>Wie gebe ich einen Namen mit "von" ein (z.B. "Stetten Georg von")?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Geben Sie als Nachname "von Stetten" und als Vorname "Georg" ein.</p>
                        </div>
                    </div>
                    <div class="h4_box">
                        <h4>Wie soll ich Abkürzungen wie d.J. (der Jüngere) d.Ä. (der Ältere) eintragen?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Geben Sie den Vornamen und als Ergänzung "der Jüngere" bzw. "der Ältere" ein.</p>
                        </div>
                    </div>
                    <div class="h4_box">
                        <h4>Wie gebe ich einen Namen für eine Gruppe ein (z.B. "Pfarrherren von Schaffhausen")?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Geben Sie als Nachname "Pfarrherren" ein, lassen Sie das Feld Vorname leer. Und tragen Sie "Schaffhausen" als Ort ein.</p>
                        </div>
                    </div>
                    <div class="h4_box">
                        <h4>Was bedeutet "Nicht verifiziert" bei der Absender- bzw. Empfänger-Angabe?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Markieren Sie einen Empfänger oder Schreiber als "Nicht verifiziert", wenn der Name oder der Ort auf der Karteikarte in runden oder eckigen Klammern stehen.</p>
                            <p>Bitte geben Sie die Klammern NICHT ein.</p>
                            <p>Alle anderen Adressen werden als verifizierte Adressen gespeichert und stehen umgehend systemweit zur automatischen Vervollständigung zu Verfügung.</p>
                        </div>
                    </div>
                    <div class="h4_box">
                        <h4>Was mache ich, wenn die Karteikarten Schreibvarianten für Namen oder Orte enthalten
                            (z.B. "Ambrosius Blarer" vs. "Ambrosius Blaurer"; oder "Petrus Paulus Vergerius" vs.
                            "Pietro Paolo Vergerius")?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Bitte übertragen Sie die Schreibung von der Karteikarte in die Datenbank, ausser bei
                                offensichtlichen Schreibfehlern. Bitte vermerken Sie zusätzlich in den Bemerkungen zum
                                Namen oder im Feld unten "Anmerkungen zu dieser Karte", dass Sie eine Schreibvariante
                                bemerkt haben. Setzen Sie den Status auf "Unklar", damit wir im Nachgang Verweise
                                zwischen den Varianten einfügen können.
                            </p>
                        </div>
                    </div>
                    <div class="h4_box">
                        <h4>Was mache ich, wenn die Karteikarten Schreibfehler (z.B. "Tubingen" statt "Tübingen")
                            oder Namens-Abkürzungen (z.B. "Ger." für "Gereon") enthalten?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Bitte tragen Sie die korrekte und vollständige Variante in die Datenbank ein. Wenn Sie
                                unsicher sind, fügen Sie eine Bemerkung hinzu.
                            </p>
                        </div>
                    </div>
                    <!--
                    <div class="h4_box">
                        <h4></h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p></p>

                        </div>
                    </div>
                    -->
                </div>
            </div>
            <div class="h3_separator"></div>
            <div class="h3_box">
                <h3>Datum</h3>
                <div class="h3_section">
                    <div class="h4_box">
                        <h4>Was bedeutet "Jahr B, Monat B, Tag B" bei <b>Datum</b>?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Sofern Anfangs- und Enddatum angegeben sind, tragen Sie das Startdatum bitte unter "Jahr, Monat, Tag" und das Enddatum unter "Jahr B, Monat B, Tag B" ein.</p>
                            <p>Wenn weitere oder andere Angaben zum Datum auf der Karteikarte vermerkt sind, tragen Sie diese als Bemerkung zum Datum ein.
                            </p>
                        </div>
                    </div>
                    <div class="h4_box">
                        <h4>Was bedeutet "s.d." bei Monat B?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>"s.d." steht für "sine die", das ist lateinisch für "ohne Datum".</p>
                            <p>Weitere lateinische Abkürzungen sind "s.n. = sine nomine" (ohne Namen), "s.l. = sine loco" (ohne Ort) oder "s.a. = sine annum".</p>
                            <p>Diese "Null-Werte" werden von unserem System ignoriert und finden keinen Einzug in die Datenbank.</p>
                        </div>
                    </div>
                    <div class="h4_box">
                        <h4>Was soll ich machen, wenn beim Datum die Jahreszahl in Klammern steht?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Wenn die Jahreszahl auf der Karteikarte in Klammern steht, tragen Sie die Jahreszahl ohne Klammer ins Feld "Jahr" ein und tragen Sie als Bemerkung zum Datum ein: "Jahr unsicher"</p>
                        </div>
                    </div>
                    <div class="h4_box">
                        <h4>Warum sind die Monate im Auswahlmenü "Datum" bei mir in Englisch (oder einer anderen Sprache als Deutsch)?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Die Sprache dieses Auswahlmenüs ergibt sich aus der Spracheinstellung Ihres Browsers. Stören Sie sich nicht daran. In unserer Datenbank werden die Monate sprach-unabhängig gespeichert.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="h3_separator"></div>
            <div class="h3_box">
                <h3>Autograph/Kopie</h3>
                <div class="h3_section">
                    <div class="h4_box">
                        <h4>Was bedeutet "Autograph"?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Beim Autograph handelt es sich um das handschriftliche Original des Briefes. Oft lagert dieses Original im Staatsarchiv Zürich (StA) oder in der Zentralbibliothek Zürich (ZB).</p>
                        </div>
                    </div>
                    <div class="h4_box">
                        <h4>Was bedeutet "Kopie"?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Die Kopie ist eine Abschrift des Briefes.</p>
                        </div>
                    </div>
                    <div class="h4_box">
                        <h4>Wofür steht "Zürich StA"?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p><a href="https://staatsarchiv.zh.ch">Staatsarchiv Zürich</a> (= das Archiv des Kantons Zürich)</p>
                            <p>Wenn es sich um den Standort "Zürich StA" handelt, geben Sie die Angabe bitte immer als "Zürich StA" ein (ohne Komma und ohne andere Zeichen).</p>
                        </div>
                    </div>
                    <div class="h4_box">
                        <h4>Wofür steht "Zürich ZB"?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p><a href="https://www.zb.uzh.ch/">Zentralbibliothek Zürich</a> (= die Bibliothek von Stadt und Kanton Zürich)</p>
                        </div>
                    </div>
                    <div class="h4_box">
                        <h4>Wofür steht "ZZB"?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>ZZB steht für Zentralbibliothek Zürich. Wenn es sich um den Standort "ZZB" handelt, geben Sie die Angabe bitte immer als "Zürich ZB" ein (ohne Komma und ohne andere Zeichen).</p>
                        </div>
                    </div>
                    <div class="h4_box">
                        <h4>Wie sieht eine typische Signatur beim Staatsarchiv (StA) Zürich aus? Wie soll ich die StA-Signatur eingeben?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Beispiele:</p>
                            <ul>
                                <li>
                                    <span class="kw"> E II 345,678 f </span>
                                    &#8594; E+[Leerschlag]+II+[Leerschlag]+Zahlen mit Komma getrennt+[Leerschlag]+Buchstabe
                                </li>
                                <li>
                                    <span class="kw"> A I 123,456 ff </span>
                                    &#8594; A+[Leerschlag]+I+[Leerschlag]+Zahlen mit Komma getrennt+[Leerschlag]+Buchstabe
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="h4_box">
                        <h4>Wie sieht eine typische Signatur bei der Zentralbibliothek (ZB) Zürich aus? Wie soll ich die ZB-Signatur eingeben?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Beispiele:</p>
                            <ul>
                                <li>
                                    <span class="kw"> Ms S 65,38 </span>
                                    &#8594; Ms+[Leerschlag]+S+[Leerschlag]+Zahlen mit Komma getrennt
                                </li>
                                <li>
                                    <span class="kw"> F 182,93 </span>
                                    &#8594; F+[Leerschlag]+Zahlen mit Komma getrennt
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="h4_box">
                        <h4>Was soll ich tun, wenn die Signatur nicht der typischen Signatur des Standortes entspricht?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>
                                Übertragen Sie die Informationen aus der Karteikarte und schreiben Sie in das Bemerkungsfeld
                                "Standort/Signatur zweifelhaft". Setzen Sie den Status auf "unklar".
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="h3_separator"></div>
            <div class="h3_box">
                <h3>Sprache / 1. Satz</h3>
                <div class="h3_section">
                    <div class="h4_box">
                        <h4>Warum ist das Feld "Sprache" in der Karteikarte leer?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Die Anleger der Karteikarten haben oft entschieden, dieses Feld frei zu lassen. In der Datenbank wollen wir jedoch eine Angabe zur Sprache des Briefes. Daher bestimmen wir die Sprache automatisch auf der Grundlage des ersten Satzes und tragen die entsprechende Sprache in die Datenbank ein.</p>
                            <p>Bitte kontrollieren Sie die Angabe und korrigieren Sie die Sprache, wenn sie nicht mit der Sprache des Anfangssatzes übereinstimmt. Ist auf der Karteikarte eine Sprache eingetragen, ist diese in die Datenbank zu übernehmen.</p>
                            <p>Wenn auf der Karteikarte mehrere Sprachen angegeben sind, dann tragen Sie alle dort vermerkten Sprachen in das Feld ein (mit Komma getrennt).</p>
                        </div>
                    </div>
                    <div class="h4_box">
                        <h4>Woher kommt der Eintrag zu "Sprache" in der Datenbank?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Wir bestimmen die Sprache des Briefes automatisch auf der Grundlage des ersten Satzes. Der erste Satz eines Briefes steht auf der Karteikarte im Feld "Bemerkung".</p>
                            <p>Bitte kontrollieren Sie die Angabe und korrigieren Sie die Sprache, wenn sie nicht mit der Sprache des Anfangssatzes übereinstimmt. Ist auf der Karteikarte eine Sprache eingetragen, ist diese in die Datenbank zu übernehmen.</p>
                            <p>Wenn auf der Karteikarte mehrere Sprachen angegeben sind, dann tragen Sie alle dort vermerkten Sprachen in das Feld ein (mit Komma getrennt).</p>
                        </div>
                    </div>
                    <div class="h4_box">
                        <h4>Was bedeutet "Gedruckt" in der Datenbank?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Zum entsprechenden Brief ist bereits einen Abdruck publiziert. Tragen Sie die entsprechende Literaturangabe in das Feld ein. Wenn Sie die Literaturangabe nicht entziffern können, tragen Sie eine entsprechende Bemerkung in das Feld "Anmerkungen / Notiz zu dieser Karteikarte" ein und setzen den Status "unklar".</p>
                        </div>
                    </div>
                    <div class="h4_box">
                        <h4>Was bedeutet "Literatur" in der Datenbank?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Der entsprechende Brief ist in einer Publikation erwähnt. Tragen Sie die entsprechende Literaturangabe in das Feld ein. Wenn Sie die Literaturangabe nicht entziffern können, tragen Sie eine entsprechende Bemerkung in das Feld "Anmerkungen / Notiz zu dieser Karteikarte" ein und setzen den Status "unklar".</p>
                        </div>
                    </div>
                    <div class="h4_box">
                        <h4>Was bedeutet "Erster Satz" in der Datenbank?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Im Feld "Bemerkung" auf der Karteikarte steht meist der Anfang des Briefes (= der erste Satz). Wir übernehmen diesen Briefanfang in die Datenbank, um später eine eindeutige Identifikation des Briefes zu ermöglichen.</p>
                            <p>Bitte korrigieren Sie den automatisch erkannten Text, bis er mit der Karteikarte übereinstimmt. Übernehmen Sie die Schreibweisen aus der Karteikarten. Wenn es Ihnen nicht möglich ist, den Text zu entziffern, tragen Sie dies bitte unter "Anmerkungen / Notiz zu dieser Karteikarte" ein und setzen den Status "unklar".</p>
                            <p>Häufig ist die Zeichensetzung auf der Karteikarte fehlerhaft. Korrigieren Sie die Satzzeichen. Fügen Sie Leerschläge hinter Kommas ein.</p>
                            <p>Wenn auf der Karteikarte im Feld "Bemerkungen" zusätzlich zum Anfangssatz weitere Informationen stehen, tragen Sie diese bitte unter "Anmerkungen / Notiz zu dieser Karteikarte" ein.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="h3_separator"></div>
            <div class="h3_box">
                <h3>Status</h3>
                <div class="h3_section">
                    <div class="h4_box">
                        <h4>Wann soll ich "Anmerkungen / Notiz zu dieser Karteikarte" eintragen?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Falls Sie das Erfassen einer Karteikarte nicht oder nur schwer abschliessen können (bspw. wenn eine Handschrift nur schwer zu entziffern ist), dann tragen Sie in dieses Feld ihre Beobachtungen ein, um anderen Projektmitarbeitern Hinweise zu hinterlassen und setzen den Status auf "unklar".
                            </p>
                            <p>Bitte hinterlassen Sie auch für ungültige Karteikarten (also typischerweise Karten, die keine Karteikarten sind), einen entsprechenden Hinweis und setzen den Status auf "ungültig".</p>
                            <p>Auch wenn auf der Karteikarte im Feld "Bemerkungen" zusätzlich zum Anfangssatz weitere Informationen stehen, tragen Sie diese bitte hier ein.</p>
                        </div>
                    </div>
                    <div class="h4_box">
                        <h4>Was bedeutet "Status Offen / Unklar / Ungültig / Abgeschlossen"?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Der Status bezieht sich auf die Übereinstimmung des Datenbankeintrags mit der Karteikarte.</p>
                            <ul>
                                <li>Offen = Datenbankeintrag ist un- oder nur teilweise bearbeitet</li>
                                <li>Unklar = Schwierigkeiten bei der Übertragung der Information in die Datenbank. Bitte notieren Sie, die Art der Schwierigkeit in den entsprechenden Bemerkungs-Feldern. Das hilft den Expert*innen, die fraglichen Stellen schnell zu identifizieren und korrigieren.</li>
                                <li>Ungültig = Das Bild zeigt keine Karteikarte, sondern ein anderes Dokument</li>
                                <li>Abgeschlossen = Die Informationen sind erfolgreich und vollständig in der Datenbank eingetragen</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="h3_separator"></div>
            <div class="h3_box">
                <h3>Allgemeines</h3>
                <div class="h3_section">
                    <div class="h4_box">
                        <h4>Warum sind die Felder "Photokopie" und "Abschrift" grau?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Die Informationen zu "Photokopie" und "Abschrift" auf den Karteikarten sind nicht mehr aktuell und werden deshalb nicht in die Datenbank übertragen.</p>
                        </div>
                    </div>
                    <div class="h4_box">
                        <h4>Was mache ich mit Hinweiskarten?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Bitte setzen Sie den Status auf "Unklar" und klicken Sie auf "Speichern und weiter".</p>
                        </div>
                    </div>
                    <div class="h4_box">
                        <h4>Warum stehen in der Datenbank manchmal bereits mehr Information als auf der Karteikarte?</h4>
                        <div class="rule"></div>
                        <div class="h4_section">
                            <p>Da ist bei der automatischen Übertragung ein Fehler passiert. Grundsätzlich sollte in der Datenbank nur das stehen, was auf einer Karteikarte wirklich enthalten ist. Es gibt zwei Ausnahmen:</p>
                            <ul>
                                <li>Der Eintrag zur Sprache wird automatisch aus dem ersten Satz abgeleitet. Bitte stellen Sie sicher, dass der Eintrag auch tatsächlich mit der Sprache des ersten Satzes übereinstimmt.</li>
                                <li>Der Eintrag "s.d." zum Monat B. Sofern auf der Karteikarte nur ein Datum angegeben ist, können Sie diesen Eintrag ignorieren.</li>
                            </ul>

                            <p> Die automatisierte Texterkennung trifft bei der Vorverarbeitung der Rohdaten jeweils
                                einige Annahmen, was bei der (automatischen) Erkennung und Korrektur von Fehlern sehr
                                hilfreich ist. Annahmen, Eigenschaften und Techniken:
                            </p>
                            <ul>
                                <li>Wir benutzen die OCR-Software
                                <a class="text_link" href="https://www.abbyy.com/de-de/finereader/">"FineReader"</a>.
                                </li>
                                <li>Datum: Die Karteikarten liegen nach Jahr, Monat und Tag sortiert vor.</li>
                                <li>Absender/Empfänger: Einer der beiden ist Heinrich Bullinger (Zürich).</li>
                                <li>Photokopie/Abschrift: "Zürich StA"/"Zürich ZB" handschriftlich notiert enthält charakteristische Zeichenketten.
                                    Typische, korrekt eingelesene Begriffe deuten auf die Schrift einer Schreibmaschine hin. </li>
                                <li>Sprache: Wir analysieren den ersten Satz mit dem Tool
                                    <a class="text_link" href="https://github.com/saffsd/langid.py">"LangId"</a>.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="h3_separator"></div>
        </div>
    </div>
    <div class="clearing"></div>
    <div class="h2_separator"></div>

</div>

{% endblock %}
