{% block content %}

<div class="h2_box>">
    <h2>Kartei {% include "title_navigation.html" %}</h2>
    <div class="h2_section">
        <p> Tabellarische Übersichten:</p>
        <ul>
            <li><a href="{{url_for('overview')}}">Datum</a></li>
            <li>
                <a href="{{url_for('overview_persons')}}">Personen</a> (Name, Vorname, Ort)
                <ul class="items">
                    <li><a href="{{url_for('correspondents')}}">nur Namen</a></li>
                    <li><a href="{{url_for('alias')}}">Aliasse</a></li>
                </ul>
            </li>
            <li>
                <a href="{{url_for('places')}}">Ortschaften</a>
            </li>
            <li><a href="{{url_for('overview_autocopy')}}">Autographen & Kopien</a>
                <ul class="items">
                    <li><a href="{{url_for('overview_autograph')}}">Autographen</a></li>
                    <li><a href="{{url_for('overview_copy')}}">Kopien</a></li>
                    <ul>
                        <li><a class="text_link" href="{{url_for('overview_copy_remarks')}}">Bemerkungen</a></li>
                        <li><a class="text_link" href="{{url_for('overview_copy_remarks_A')}}">Bemerkungen (Kopie A)</a></li>
                    </ul>
                </ul>
            </li>
            <li>
                <a href="{{url_for('overview_literature_and_printed')}}">Literatur & Gedruckt</a>
                <ul class="items">
                    <li><a href="{{url_for('overview_literature')}}">Literatur</a></li>
                    <li><a href="{{url_for('overview_printed')}}">Gedruckt</a></li>
                    <li><a class="text_link" href="{{url_for('overview_references')}}">Referenzen</a></li>
                </ul>
            </li>
            <li>
                <a href="{{url_for('languages')}}">Sprachen</a>
            </li>
            <li>
                <a href="{{url_for('overview_states')}}">Status</a>
            </li>
            <li>
                Verlauf
                <ul class="items">
                    <li><a class="text_link" href="{{url_for('personal_history')}}">Persönlich</a></li>
                    <li><a class="text_link" href="{{url_for('general_history')}}">Allgemein</a></li>
                </ul>
            </li>
        </ul>
        <br/>
        <p>
            <a class="text_link" href="{{url_for('locations_map')}}">Geographische Übersicht</a>
            &#8594; <a class="text_link" href="{{url_for('coordinates')}}">Koordinaten erfassen</a>
        </p>
    </div>
</div>
<div class="h2_separator"></div>

{% endblock %}