{% block content %}

<div class="h2_box>">
    <h2>Kartei</h2>
    <div class="h2_section">
        <p> Übersichten zu den Karteikarten nach ...</p>
        <ul>
            <li><a href="{{url_for('overview')}}">Datum</a></li>
            <li>
                <a href="{{url_for('overview_persons')}}">Personen</a>
                (mit/<a href="{{url_for('correspondents')}}">ohne</a>
                Ortschaften)
            </li>
            <li>
                <a href="{{url_for('places')}}">Ortschaften</a>
            </li>
            <li><a href="{{url_for('overview_autocopy')}}">Autograph & Kopie</a>
                (<a href="{{url_for('overview_autograph')}}">entweder</a>/<a href="{{url_for('overview_copy')}}">oder</a>)
            </li>
            <li>
                <a href="{{url_for('languages')}}">Sprachen</a>
            </li>
        </ul>
    </div>
</div>
<div class="h2_separator"></div>

{% endblock %}