{% extends "base.html" %}

{% block content %}

<h1>Bullinger Briefwechsel
    {% include "user_status.html" %}
</h1>



<div class="main_box">

    <h2>Allgemeines</h2>
    <div class="h2_section">
        <div>
            <div class="parallel allg_left">
                <div class="container">
                    <img src="{{ url_for('static', filename='images/heiri.png') }}">
                </div>
            </div>
            <div class="parallel allg_right">
                <p> Der Zürcher Reformator <a href="https://de.wikipedia.org/wiki/Heinrich_Bullinger">Heinrich Bullinger</a>
                    (1504-1575) war Mitarbeiter und Nachfolger von Zwingli und ein wichtiger Multiplikator für die Ideen der
                    Reformation in der Schweiz und in Europa. Entsprechend gross war sein Korrespondenz-Netzwerk.</p>
                <p> Der erhaltene Briefwechsel besteht aus mehr als 2000 Briefen, die er geschrieben und rund 10’000 Briefen,
                    die er erhalten hat. Die Originale liegen mehrheitlich im Staatsarchiv Zürich und in der Zentralbibliothek
                    Zürich. Zu jedem Brief gibt es eine Karteikarte auf Papier. Bitte helfen Sie uns, diese Karteikarte in
                    unsere Datenbank zu überführen.</p>
                <p> Vielen Dank </p>
                <p></p>
                <p> &#8594; <a href="{{url_for('quick_start')}}">Start</a>
                    <span style="color:red"> (Testversion) </span>
                </p>
                <p>
                    <span style="color:red">
                        ACHTUNG, jetzt erfasste Änderungen gehen möglicherweise wieder verloren.
                    </span>
                </p>
            </div>
            <div class="clearing"></div>
        </div>

    </div>
    <div class="h2_separator"></div>

    <h2>Projektziele</h2>
    <div class="h2_section">
        <ul>
            <li>Aufbau eines Karteisystems zu den Bullinger-Briefwechseln
                <a href="https://de.wikipedia.org/wiki/Citizen_Science">(Citizen Science)</a>
            </li>
            <li>Ausbau der Datenbank mit allen Dokumenten aus dem Bullinger-Briefwechsel</li>
            <li>automatische Erschliessung der noch nicht editieren Briefe (Scannen, Handschriften-OCR)</li>
            <li>Aufbau eines massgeschneiderten Systems zur maschinellen Übersetzung Latein &#8594; Deutsch</li>
            <li>Modernisierung und Erweiterung des Suchsystems</li>
        </ul>
    </div>
    <div class="h2_separator"></div>

    <h2>Links</h2>
    <div class="h2_section">
        <p> Hintergrund-Informationen zum bisherigen Editions-Projekt finden sich
            <a href="https://www.irg.uzh.ch/de/bullinger-edition/briefwechsel.html">hier</a>.</p>
        <p> Rund 3000 Briefe sind schon transkribiert und editiert, und können online durchsucht werden.
            Das Suchsystem für die bisher editieren Briefe findet sich
            <a href="http://teoirgsed.uzh.ch/">hier</a>.</p>
    </div>
    <div class="h2_separator"></div>

    <h2>Kontakt</h2>
    <div class="h2_section">
        <p> <a href="mailto:bodenmann.reinhard@theol.uzh.ch">Reinhard Bodenmann </a>
            (Bullinger-Briefwechsel-Edition),
            Institut für Schweizerische Reformationsgeschichte, Kirchgasse 9, Zürich </p>
        <p> <a href="mailto:volk@cl.uzh.ch">Martin Volk</a>
            (Projektleiter),
            Institut für Computerlinguistik, Andreasstrasse 15, Zürich </p>
        <p> Universität Zürich, 2020</p>
    </div>
    <div class="h2_separator"></div>

    <h2>Gästebuch</h2>
    <div class="h2_section">
        <p>Hinterlassen Sie einen Kommentar:</p>
        <table>
            <!--
            <thead>
                <tr>
                    <th>Benutzer</th>
                    <th>Kommentar</th>
                </tr>
            </thead>
            -->
            <tbody>
            {% for c in vars["comments"] %}
                <tr>
                    <td class="comment_user">{{ c[0] }}</td>
                    <td class="comment_text" rowspan="3">{{ c[3] }}</td>
                </tr>
                <tr>
                    <td class="comment_date">{{ c[1] }}</td>
                </tr>
                <tr>
                    <td class="comment_time">{{ c[2] }}</td>
                </tr>
                <tr class="comment_break"></tr>
            {% endfor %}
            </tbody>
        </table>
        <!-- new comments -->
        <form action="" method="post" novalidate>
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            <div>{{ form.comment(class="note", placeholder="Ihr Kommentar") }}</div>
            <div>{{ form.save(class="buttonX button_frills") }}</div>
        </form>
    </div>
    <div class="h2_separator"></div>
    <div class="clearing"></div>

</div>

{% endblock %}
