{% extends "base.html" %}

{% block content %}

<h1>Allgemeines
    {% include "user_status.html" %}
</h1>

<div class="main_box">

    <h2>Bullinger Briefwechsel</h2>
    <div class="h2_section">

        <p> Der Zürcher Reformator Heinrich Bullinger (1504-1575) hatte ein grosses Korrespondenz-Netzwerk.
            Er hat laut unserer (leider noch fehlerbehafteten und unvollständigen) Datenbankrund
            {{ vars["num_sent"] }} Briefe geschrieben und {{ vars["num_received"] }} Briefe erhalten. ... </p>

        <p> Zu jedem Brief gibt es eine Karteikarte auf Papier.
            Bitte helfen Sie uns, diese Karteikarte in unsere Datenbank zu überführen. </p>

        <p> Vielen Dank.</p>

        <p> &#8594; <a href="{{url_for('quick_start')}}">Start</a> </p>

    </div>

    <h2>Impressum</h2>
    <div class="h2_section">
        <p> <a href="mailto:bodenmann.reinhard@theol.uzh.ch">Reinhard Bodenmann</a>,
            Institut für Schweizerische Reformationsgeschichte
        </p>
        <p> <a href="mailto:volk@cl.uzh.ch">Martin Volk</a>, Institut für Computerlinguistik </p>
        <p> Universität Zürich, 2020</p>
    </div>
    <div class="h2_separator"></div>

    <h2>Benutzerkommentare</h2>
    <div class="h2_section">
        <p>Für (offizielle, anonymisierte) Bemerkungen/Anregungen ...</p>
        <table>
            <!--
            <thead>
                <tr>
                    <th>Benutzer</th>
                    <th>Kommentar</th>
                </tr>
            </thead>
            -->
            <tbody>
            {% for c in vars["comments"] %}
                <tr>
                    <td class="comment_user">{{ c[0] }}</td>
                    <td class="comment_text" rowspan="3">{{ c[3] }}</td>
                </tr>
                <tr>
                    <td class="comment_date">{{ c[1] }}</td>
                </tr>
                <tr>
                    <td class="comment_time">{{ c[2] }}</td>
                </tr>
                <tr class="comment_break"></tr>
            {% endfor %}
            </tbody>
        </table>
        <!-- new comments -->
        <form action="" method="post" novalidate>
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            <div>{{ form.comment(class="note", placeholder="Ihr Kommentar") }}</div>
            <div>{{ form.save(class="buttonX button_frills") }}</div>
        </form>
    </div>
    <div class="h2_separator"></div>
    <div class="clearing"></div>

</div>

{% endblock %}
