{% extends "base.html" %}

{% block content %}

<h1>
    <a href="{{url_for('overview')}}">Übersicht</a> /
    <a href="{{url_for('overview_year', year=vars['year'])}}">{{ vars["year"] }}</a> / {{ vars["month"] }}
	{% include "user_status.html" %}
</h1>

<div class="main_box">

	<h2>Monatsübersicht vom {{ vars["month"]+' '+vars["year"]}}</h2>

	<p>In der nachstehenden Tabelle können Sie eine spezifische Karteikarte auswählen und diese anschliessend
		digitalisieren:
	</p>

	{% include "elem_quickstart.html" %}

	<table class="js-sort-table paleBlueRows">
		<thead class="my_table_head">
			<tr class="my_table_head_row">
				<th class="js-sort-number my_table_head_cell">Brief Nr.</th>
				<th class="js-sort-number my_table_head_cell">Datum</th>
				<th class="js-sort-number my_table_head_cell">Rezensionen</th>
				<th class="js-sort-string my_table_head_cell">Status</th>
			</tr>
		</thead>
		<tbody>
			{% for r in vars["table"] %}
			<tr class="my_table_row">
				<td class="my_table_cell"><a href="{{url_for('assignment', id_brief=r[0])}}">{{ r[0] }}</a></td>
				<td class="my_table_cell"> {{ r[1][0] }} </td>
				<td class="my_table_cell"> {{ r[2] }} </td>
				<td class="my_table_cell"> {{ r[3] }} </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>


	<h2>Statusübersicht</h2>

	{% include "overview__status.html" %}

</div>

{% endblock %}
