{% extends "base.html" %}

{% block content %}

<h1>Übersicht
	{% include "user_status.html" %}
</h1>

<div class="main_box">

	<h2>Allgemeine Jahresübersicht</h2>

	<p>Wählen Sie ein Jahr:</p>

	<table class="js-sort-table paleBlueRows">
		<thead class="my_table_head">
			<tr class="my_table_head_row">
				<th class="js-sort-number my_table_head_cell">Jahr</th>
				<th class="js-sort-number my_table_head_cell">Anzahl Briefe</th>
				<th class="js-sort-number my_table_head_cell">offen</th>
				<th class="js-sort-number my_table_head_cell">unklar</th>
				<th class="js-sort-number my_table_head_cell">abgeschlossen</th>
				<th class="js-sort-number my_table_head_cell">ungültig</th>
			</tr>
		</thead>
		<tbody>
		{% for d in vars["table"] %}
			<tr class="my_table_row">
				<td class="my_table_cell"><a href="{{url_for('overview_year', year=d[0][0])}}">{{ d[0][0] }}</a></td>
				<td class="my_table_cell">{{ d[1]+d[2]+d[3]+d[4] }}</td>
				<td class="my_table_cell">{{ d[1] }}</td>
				<td class="my_table_cell">{{ d[2] }}</td>
				<td class="my_table_cell">{{ d[3] }}</td>
				<td class="my_table_cell">{{ d[4] }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

	<p>&#8594; <a href="{{url_for('quick_start')}}">Schnellstart</a></p>

	{% include "overview__status.html" %}


	<h2>Korrespondenten</h2>

	<p>Alle Personen (Name, Vorname, Ort)...</p>

	<p>Anzahl Treffer: {{ vars["hits"] }}</p>

	<table class="js-sort-table paleBlueRows">
		<thead class="my_table_head">
			<tr class="my_table_head_row">
				<th class="js-sort-string my_table_head_cell">Link</th>
				<th class="js-sort-string my_table_head_cell">Name</th>
				<th class="js-sort-string my_table_head_cell">Vorname</th>
				<th class="js-sort-string my_table_head_cell">Ort</th>
				<th class="js-sort-number my_table_head_cell">gesendet</th>
				<th class="js-sort-number my_table_head_cell">empfangen</th>
			</tr>
		</thead>
		<tbody>
		{% for d in vars["persons"] %}
			<tr class="my_table_row">
				<td class="my_table_cell">
					<a href="{{url_for('overview_cards_of_person', name=d[0], forename=d[1], place=d[2])}}">(alle)</a>
				</td>
				<td class="my_table_cell">
					<a href="{{url_for('person_by_name', name=d[0])}}">{{ d[0] }}</a>
				</td>
				<td class="my_table_cell">
					<a href="{{url_for('person_by_forename', forename=d[1])}}">{{ d[1] }}</a>
				</td>
				<td class="my_table_cell">
					<a href="{{url_for('person_by_place', place=d[2])}}">{{ d[2] }}</a>
				</td>
				<td class="my_table_cell">{{ d[3] }}</td>
				<td class="my_table_cell">{{ d[4] }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

</div>

{% endblock %}
