{% extends "base.html" %}

{% block content %}

<h1>
    > <a class="header_link" href="{{url_for('file')}}">Kartei</a>
    / <a class="header_link" href="{{url_for('places')}}">Ortschaften</a>
    / {% if (vars["place"]|length > 0) and (vars["place"][0]|length > 0) %} {{ vars["place"][0][1] }} {% endif %}
    {% include "user_status.html" %}
</h1>

<div class="main_box">

	<div class="h2_box>">

        <h2>Ortschaften</h2>
        <div class="h2_section">

            <p>Treffer: {{ vars["place"] | length }}</p>

            <div class="parallel">
                <table class="js-sort-table paleBlueRows">
                    <thead class="my_table_head">
                        <tr class="my_table_head_row">
                            <th class="js-sort-number my_table_head_cell">Brief ID</th>
                            <th class="js-sort-string my_table_head_cell">Ortschaft</th>
                            <th class="js-sort-string my_table_head_cell">Absender</th>
                            <th class="js-sort-string my_table_head_cell">Empfänger</th>
                            <th class="js-sort-number my_table_head_cell">Rezensionen</th>
                            <th class="js-sort-string my_table_head_cell">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for p in vars["place"] %}
                        <tr class="my_table_row">
                            <td class="my_table_cell"><a href="{{url_for('assignment', id_brief=p[0])}}">{{ p[0] }}</a></td>
                            <td class="my_table_cell">{{ p[1] }}</td>
                            <td class="my_table_cell">{{ p[2]|safe }}</td>
                            <td class="my_table_cell">{{ p[3]|safe }}</td>
                            <td class="my_table_cell">{{ p[4] }}</td>
                            <td class="my_table_cell">
                                <a href="{{url_for('overview_state', state=p[5])}}">{{ p[5] }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="clearing"></div>
</div>

{% endblock %}
