{% extends "base.html" %}

{% block content %}

<h1> > Kartei / Personen (ohne Ortschaften) {% include "user_status.html" %} </h1>

<div class="main_box">

	<h2>Korrespondenten (ohne Ortschaften)</h2>
	<div class="h2_section">

        <p>
            Aktuell können wir {{ vars["hits_s"] }} Absender und {{ vars["hits_r"] }} Empfänger
            in unserer Datenbank identifizieren.
        </p>
        <br>
        <span class="kw">Null-Werte:</span>
        <ul>
            <li>lat. "s.n." = "sine nomine" (ohne Namen)</li>
            <li>lat. "s.l." = "sine loco" (ohne Ort)</li>
        </ul>

		<div class="parallel">
			<table class="js-sort-table paleBlueRows">
				<thead class="my_table_head">
					<tr class="my_table_head_row">
						<th class="js-sort-string my_table_head_cell">Name</th>
						<th class="js-sort-string my_table_head_cell">Vorname</th>
						<th class="js-sort-number my_table_head_cell">empfangen</th>
					</tr>
				</thead>
				<tbody>
				<!-- n top Empfänger -->
				{% for e in vars["top_r_gbp"] %}
					<tr class="my_table_row">
						<td class="my_table_cell"><a href="{{url_for('person_by_name', name=e[0])}}"> {{ e[0] }} </a></td>
						<td class="my_table_cell"><a href="{{url_for('person_by_forename', forename=e[1])}}"> {{ e[1] }} </a></td>
						<td class="my_table_cell">{{ e[2] }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>


		<div class="parallel">
			<table class="js-sort-table paleBlueRows">
				<thead class="my_table_head">
					<tr class="my_table_head_row">
						<th class="js-sort-string my_table_head_cell">Name</th>
						<th class="js-sort-string my_table_head_cell">Vorname</th>
						<th class="js-sort-number my_table_head_cell">gesendet</th>
					</tr>
				</thead>
				<tbody>
				<!-- n top Absender -->
				{% for s in vars["top_s_gbp"] %}
					<tr class="my_table_row">
						<td class="my_table_cell"><a href="{{url_for('person_by_name', name=s[0])}}"> {{ s[0] }} </a></td>
						<td class="my_table_cell"><a href="{{url_for('person_by_forename', forename=s[1])}}"> {{ s[1] }} </a></td>
						<td class="my_table_cell">{{ s[2] }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="clearing"></div>

</div>

{% endblock %}
