<!-- extends "overview.html", "overview_year.html", "overview_month.html" -->
{% block progress %}
<p>
    Fortschritt bei der Digitalisierung der
    <span class="kw">{{ vars["status_description"] }}</span>
</p>
<p>
    Wir sind zu
    <span class="kw">{{ (vars["stats"]["ungültig"][1] + vars["stats"]["abgeschlossen"][1])|round(2) }}%</span>
    fertig!
</p>

{% if not vars["page_url"] == '/stats' %}
<p> &#8594; <a class="text_link" href="{{url_for('stats')}}">Statistiken</a></p>
{% endif %}

<img class="parallel" alt="Statusübersicht" src="{{url_for('static', filename='images/plots/overview_'+vars['file_id']+'.png')}}"/>

<div class="parallel">
    <table class="js-sort-table paleBlueRows">
        <thead class="my_table_head">
            <tr class="my_table_head_row">
                <th class="js-sort-string my_table_head_cell">Status</th>
                <th class="js-sort-number my_table_head_cell">Anzahl</th>
                <th class="js-sort-number my_table_head_cell">[%]</th>
            </tr>
        </thead>
        <tbody>
        {% for key in vars["stats"] %}
            <tr class="my_table_row">
                <td class="my_table_cell">
                    <a href="{{url_for('overview_state', state=key)}}"> {{ key }} </a>
                </td>
                <td class="my_table_cell">{{ vars["stats"][key][0] }}</td>
                <td class="my_table_cell">{{ (vars["stats"][key][1])|round(2) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p><span class="kw">Beschreibung:</span></p>
    <ul>
        <li>offen: un- oder nur teilweise bearbeitet</li>
        <li>unklar: Schwierigkeiten</li>
        <li>ungültig: Ausschuss</li>
        <li>abgeschlossen: erfolgreich digitalisiert</li>
    </ul>
</div>
<div class="clearing"></div>
{% endblock %}
