{% extends "base.html" %}

{% block content %}

<h1>
	>
	<a class="header_link" href="{{url_for('overview')}}">Kartei</a> /
    Sprachen /
	{{ vars["language"] }}
	{% include "user_status.html" %}
</h1>

<div class="main_box">
	<div class="h2_box">
		<h2>{{ vars["language"] }}</h2>
		<div class="h2_section">
			<p> Treffer: {{ vars["table"] | length }} </p>
			<table class="js-sort-table paleBlueRows">
				<thead class="my_table_head">
					<tr class="my_table_head_row">
						<th class="js-sort-number my_table_head_cell">Brief ID</th>
						<th class="js-sort-string my_table_head_cell">Sprache</th>
					</tr>
				</thead>
				<tbody>
				{% for d in vars["table"] %}
					<tr class="my_table_row">
						<td class="my_table_cell">
							<a href="{{url_for('assignment', id_brief=d[0])}}">{{ d[0] }}</a>
						</td>
						<td class="my_table_cell">
						{% if vars["value"]|string() != d[0] %}
							{{ d[1] }}
						{% else %}
							{{ d[0] }}
						{% endif %}
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}
