{% extends "base.html" %}

{% block content %}

<h1>Übersicht
	{% include "user_status.html" %}
</h1>

<div class="main_box">

	<h2>Allgemeine Jahresübersicht</h2>

	<p>Wählen Sie ein Jahr:</p>

	<table class="js-sort-table paleBlueRows">
		<thead class="my_table_head">
			<tr class="my_table_head_row">
				<th class="js-sort-number my_table_head_cell">Jahr</th>
				<th class="js-sort-number my_table_head_cell">Anzahl Briefe</th>
				<th class="js-sort-number my_table_head_cell">offen</th>
				<th class="js-sort-number my_table_head_cell">unklar</th>
				<th class="js-sort-number my_table_head_cell">abgeschlossen</th>
				<th class="js-sort-number my_table_head_cell">ungültig</th>
			</tr>
		</thead>
		<tbody>
		{% for d in vars["table"] %}
			<tr class="my_table_row">
				<td class="my_table_cell"><a href="{{url_for('overview_year', year=d[0][0])}}">{{ d[0][0] }}</a></td>
				<td class="my_table_cell">{{ d[1]+d[2]+d[3]+d[4] }}</td>
				<td class="my_table_cell">{{ d[1] }}</td>
				<td class="my_table_cell">{{ d[2] }}</td>
				<td class="my_table_cell">{{ d[3] }}</td>
				<td class="my_table_cell">{{ d[4] }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

	<p>&#8594; <a href="{{url_for('quick_start')}}">Schnellstart</a></p>

	{% include "overview__status.html" %}


	<h2>Personen</h2>

	<p>Wählen Sie einen Nachnamen (die Zahl in Klammern gibt an, wieviele (scheinbar) verschiedene
		Personen mit diesem Namen in der Datenbank enthalten sind):</p>

	{% for p in vars["last_names_sorted_by_frequency"] %}
	<span>
		<a href="{{url_for('person_by_name', name=p[0])}}">{{ p[0] }}</a> ({{ p[1] }});
	</span>
	{% endfor %}

</div>

{% endblock %}
