{% extends "base.html" %}

{% block content %}

<h1>Übersicht
	{% include "user_status.html" %}
</h1>

<div class="main_box">

	<h2>Übersicht nach [...]</h2>

	<table class="js-sort-table paleBlueRows">
		<thead class="my_table_head">
			<tr class="my_table_head_row">
				<th class="js-sort-number my_table_head_cell">Brief Nr.</th>
				<th class="js-sort-number my_table_head_cell">Rezensionen</th>
				<th class="js-sort-number my_table_head_cell">Status</th>
			</tr>
		</thead>
		<tbody>
		{% for d in vars["table"] %}
			<tr class="my_table_row">
				<td class="my_table_cell">{{ d[0] }}</td>
				<td class="my_table_cell">{{ d[1] }}</td>
				<td class="my_table_cell">{{ d[1] }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

</div>

{% endblock %}
