{% extends "base.html" %}

{% block content %}

<h1>
    > <a class="header_link" href="{{url_for('file')}}">Kartei</a>
    / <a class="header_link" href="{{url_for('places')}}">Ortschaften</a>
    / Koordinaten
    {% include "user_status.html" %}
</h1>

<div class="main_box">
	<div class="h2_box>">
        <h2>Koordinaten</h2>
        <div class="h2_section">

            <p>Treffer: {{ vars["data"] | length }}</p>

            <div class="parallel">
                <table class="js-sort-table paleBlueRows">
                    <thead class="my_table_head">
                        <tr class="my_table_head_row">
                            <th class="js-sort-string my_table_head_cell">Ort</th>
                            <th class="js-sort-number my_table_head_cell">Breite</th>
                            <th class="js-sort-number my_table_head_cell">Länge</th>
                            <th class="js-sort-number my_table_head_cell">Aktion</th>
                        </tr>
                    </thead>
                    <tbody>

                    <tr class="my_table_row2 tc_uniform">
                        <td class="my_table_cell tc_uniform">
                            <input type="text" id="add_coord_ort" name="add_coord_ort" placeholder="Suchen/Neu">
                        </td>
                        <td class="my_table_cell tc_uniform">
                            <input type="text" id="add_coord_1" name="add_coord_coord1" placeholder="Breite">
                        </td>
                        <td class="my_table_cell tc_uniform">
                            <input type="text" id="add_coord_2" name="add_coord_coord2" placeholder="Länge">
                        </td>
                        <td class="my_table_cell tc_uniform">
                            <input type="submit" id="save_coords" value="Speichern">
                        </td>
                    </tr>


                    {% for p in vars["data"] %}
                        <tr class="my_table_row">
                            <td class="my_table_cell tc_uniform">
                                <a href="{{url_for('place', location=p[4])}}">
                                    {{ p[1] }}
                                </a>
                            </td>
                            <td class="my_table_cell tc_uniform">{{ p[2] }}</td>
                            <td class="my_table_cell tc_uniform">{{ p[3] }}</td>
                            <td class="my_table_cell tc_uniform">
                                <a class="delete_loc" id="{{url_for('delete_coordinates', coord_id=p[0])}}">
                                    <span style="color:red">&#x2717;</span>
                                </a>
                            </td>
                        </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="clearing"></div>
</div>

{% endblock %}
