{% extends "base.html" %}

{% block content %}

<h1>
	> <a class="header_link" href="{{url_for('overview')}}">Kartei</a>
	/ {{ vars["state"] }}
	{% include "user_status.html" %}
</h1>

<div class="main_box">

	<div class="h2_box">
		<h2>Statusübersicht: {{ vars["state"] }}</h2>
		<div class="h2_section">

            <p>Karteikarten mit Status "{{ vars["state"] }}"</p>

            <p>Treffer: "{{ vars["table"] | length }}"</p>

			<table class="js-sort-table paleBlueRows">
				<thead class="my_table_head">
					<tr class="my_table_head_row">
						<th class="js-sort-number my_table_head_cell">Brief Nr.</th>
						<th class="js-sort-number my_table_head_cell">Jahr</th>
                        <th class="js-sort-number my_table_head_cell">Monat</th>
                        <th class="js-sort-number my_table_head_cell">Tag</th>
						<th class="js-sort-number my_table_head_cell">Rezensionen</th>
						<th class="js-sort-string my_table_head_cell">Status</th>
					</tr>
				</thead>
				<tbody>
					{% for r in vars["table"] %}
					<tr class="my_table_row">
						<td class="my_table_cell"><a href="{{url_for('assignment', id_brief=r[0])}}">{{ r[0] }}</a></td>
						<td class="my_table_cell">
                            <a href="{{url_for('overview_year', year=r[1])}}">{{ r[1] }}</a>
                        </td>
						<td class="my_table_cell"> {{ r[2] }} </td>
						<td class="my_table_cell"> {{ r[3] }} </td>
                        <td class="my_table_cell"> {{ r[4] }} </td>
						<td class="my_table_cell"> {{ r[5] }} </td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

</div>

{% endblock %}
