{% extends "base.html" %}

{% block content %}

<h1>
	>
	Statistiken
	{% include "user_status.html" %}
</h1>

<div class="main_box">

	<h2>Statusübersicht</h2>
	<div class="h2_section">
		{% include "overview__status.html" %}
	</div>

	<h2>Mitarbeiter</h2>
	<div class="h2_box">
		<div class="h2_section">
			<ul>
				<li id="href_stats_rank" class="stats_toc">Ranglisten</li>
				<li id="href_stats_changes" class="stats_toc">Korrekturen und Statusänderungen</li>
				<li id="href_stats_activity" class="stats_toc">Allgemeine Aktivitäten</li>
			</ul>
		</div>
	</div>


	<div class="h2_section">

		<h3 id="stats_rank">Ranglisten</h3>
		<div class="h3_section">

			<p> Bis jetzt haben sich
					<span class="kw">{{ vars["workers_corr"] }} Personen</span>
					an den Korrekturen beteiligt, wovon
					<span class="kw"> {{ vars["workers_quit"] }}</span>
					mindestens eine Karteikarte abgeschlossen haben.
			</p>
			<p>Rekorde:
				<span class="kw">{{ vars["corr_max"] }} Korrekturen</span>,
				<span class="kw">{{ vars["quit_max"] }} Abschlüssen.</span>
			</p>

			<img class="parallel"
				 src="{{url_for('static', filename='images/plots/user_stats_changes_'+vars['file_id']+'.png')}}"/>
			<img class="parallel"
				 src="{{url_for('static', filename='images/plots/user_stats_finished_'+vars['file_id']+'.png')}}"/>

			<p>
				In der Rangliste aufgeführt sind alle registrierten Benutzer (Mitarbeiter), die
				<span class="kw"> mindestens einen Datenbankeintrag editiert </span>
				("Korrigierte Datenbankeinträge") oder
				<span class="kw"> mindestens eine Karteikarte als vollständig digitalisiert </span>
				("Abgeschlossene Karteikarten") markiert haben.
			</p>
		</div>
		<div class="clearing"></div>


		<h3 id="stats_changes">Korrekturen und Statusänderungen</h3>
		<div class="h3_section">

			<p> Wir arbeiten seit
				<span class="kw">{{vars['days_active']}} Tagen</span>
				an der Digitalisierung der Karteikarten.
				Das sind
				{{(100*vars['days_active']/(vars['days_remaining']+vars['days_active']))|round(2)}}%
				der geschätzten Gesamtzeit von {{vars['days_active']+vars['days_remaining']}} Tagen.
			</p>
			<p>
				Prognostizierte Restzeit:
				<span class="kw"> {{vars['days_remaining']}} Tage</span>.
			</p>

		<img class="parallel"
			 src="{{url_for('static', filename='images/plots/changes_'+vars['file_id']+'.png')}}"/>
		<img class="parallel"
			 src="{{url_for('static', filename='images/plots/progress_'+vars['file_id']+'.png')}}"/>
		</div>
		<div class="clearing"></div>

		<h3 id="stats_activity">Allgemeine Aktivitäten</h3>
		<div class="h3_section">
			Wir verzeichnen
			<span class="kw">{{ vars["visits"] }} Seitenaufrufe</span>
			(seit dem 12. März 2020),
			<span class="kw">{{ vars["registered_users"] }} registrierte Mitarbeiter</span>,
			und durchschnittlich
			<span class="kw">{{ vars["users_active_on_avg"]|round(1) }} aktive Mitarbeiter täglich.</span>

		<img class="parallel"
			 src="{{url_for('static', filename='images/plots/visites_'+vars['file_id']+'.png')}}"/>
			<img class="parallel"
			 src="{{url_for('static', filename='images/plots/users_'+vars['file_id']+'.png')}}"/>
		</div>
		<div class="clearing"></div>

		<p>Aktivitäten des Administrators finden keinen Einzug in die oben stehenden Analysen.</p>

	</div>
	<div class="clearing"></div>


	<h2>Daten</h2>
	<div class="h2_section">

		<p>Verfügbare Übersichten zu den Karteikarten:</p>

		<ul>
			<li><a href="{{url_for('overview')}}">Datum (nach Jahren/Monaten)</a></li>
			<li><a href="{{url_for('overview_persons')}}">Personen (mit Ortschaften)</a></li>
			<li><a href="{{url_for('correspondents')}}">Personen (ohne Ortschaften)</a></li>
			<li><a href="{{url_for('languages')}}">Sprachen</a></li>
		</ul>


	</div>
	<div class="clearing"></div>

</div>

{% endblock %}
