{% extends "base.html" %}

{% block content %}

<h1>
	>
	Statistiken
	{% include "user_status.html" %}
</h1>

<div class="main_box">

	<h2>Statusübersicht</h2>
	<div class="h2_section">
		{% include "overview__status.html" %}
	</div>

	<h2>Mitarbeiter</h2>
	<div class="h2_section">

		<p>Ihr Benutzername ist nur für Sie sichtbar.</p>

		<!--
		<table class="js-sort-table paleBlueRows">
			<thead class="my_table_head">
				<tr class="my_table_head_row">
					<th class="js-sort-number my_table_head_cell">ID</th>
					<th class="js-sort-number my_table_head_cell">Änderungen</th>
					<th class="js-sort-number my_table_head_cell">abgeschlossen</th>
				</tr>
			</thead>
			<tbody>
			{% for r in vars["user_stats_all"] %}
				<tr class="my_table_row">
					<td class="my_table_cell">{{ r[0] }}</td>
					<td class="my_table_cell">{{ r[1] }}</td>
					<td class="my_table_cell">{{ r[2] }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		-->

		<p>Ihr Anteil (ggf. grün) an allen bis dato vorgenommenen Änderungen:</p>

		<img class="parallel"
			 src="{{url_for('static', filename='images/plots/user_stats_changes_'+vars['file_id']+'.png')}}"/>
		<img class="parallel"
			 src="{{url_for('static', filename='images/plots/user_stats_finished_'+vars['file_id']+'.png')}}"/>
	</div>
	<div class="clearing"></div>


	<h2>Aktivitäten</h2>
	<div class="h2_section">
		<img src="{{url_for('static', filename='images/plots/changes_'+vars['file_id']+'.png')}}"/>
	</div>


	<h2>Sprachen</h2>
	<div class="h2_section">

		<p>Einige der Briefe sind mehrsprachig ...</p>

		<img class="parallel"
			 src="{{url_for('static', filename='images/plots/lang_stats_'+vars['file_id']+'.png')}}"/>

		<div class="parallel">
            <table class="js-sort-table paleBlueRows">
                <thead class="my_table_head">
                    <tr class="my_table_head_row">
                        <th class="js-sort-string my_table_head_cell">Sprache</th>
                        <th class="js-sort-number my_table_head_cell">Frequenz</th>
                        <th class="js-sort-number my_table_head_cell">[%]</th>
                    </tr>
                </thead>
                <tbody>
                {% for l in vars["lang_stats"] %}
                    <tr class="my_table_row">
                        <td class="my_table_cell">
                            <a href="{{url_for('overview_languages', lang=l[0])}}"> {{ l[0] }} </a>
                        </td>
                        <td class="my_table_cell">{{ l[1] }}</td>
                        <td class="my_table_cell">{{ l[2] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
		</div>

	</div>
	<div class="clearing"></div>

	<h2>Top-{{ vars["n_top"] }}-Korrespondenten</h2>
	<div class="h2_section">

		<p>
			Wer hat die meisten?
			Ignorieren wir die Ortschaften und zählen alle Absender/Empfänger
			mit identschen Namen (Vor-/Nachname), bietet sich folgendes Bild:
		</p>

		<!--
		<p>http://130.60.24.72/stats/&#60;NUMMER_TOP_N&#62;</p>
		-->
		
		<div class="parallel">
			<table class="js-sort-table paleBlueRows">
				<thead class="my_table_head">
					<tr class="my_table_head_row">
						<th class="js-sort-string my_table_head_cell">Name</th>
						<th class="js-sort-string my_table_head_cell">Vorname</th>
						<th class="js-sort-number my_table_head_cell">empfangen</th>
					</tr>
				</thead>
				<tbody>
				<!-- n top Empfänger -->
				{% for e in vars["top_r_gbp"] %}
					<tr class="my_table_row">
						<td class="my_table_cell"><a href="{{url_for('person_by_name', name=e[0])}}"> {{ e[0] }} </a></td>
						<td class="my_table_cell"><a href="{{url_for('person_by_forename', forename=e[1])}}"> {{ e[1] }} </a></td>
						<td class="my_table_cell">{{ e[2] }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>

		<div class="parallel">
			<table class="js-sort-table paleBlueRows">
				<thead class="my_table_head">
					<tr class="my_table_head_row">
						<th class="js-sort-string my_table_head_cell">Name</th>
						<th class="js-sort-string my_table_head_cell">Vorname</th>
						<th class="js-sort-number my_table_head_cell">gesendet</th>
					</tr>
				</thead>
				<tbody>
				<!-- n top Absender -->
				{% for s in vars["top_s_gbp"] %}
					<tr class="my_table_row">
						<td class="my_table_cell"><a href="{{url_for('person_by_name', name=s[0])}}"> {{ s[0] }} </a></td>
						<td class="my_table_cell"><a href="{{url_for('person_by_forename', forename=s[1])}}"> {{ s[1] }} </a></td>
						<td class="my_table_cell">{{ s[2] }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="clearing"></div>

</div>

{% endblock %}
